compiled/3.16.1/XSD/external/dss-core-1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:dss:1.0:core:schema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema" xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en">This Schema defines the Digital
            Signature Service Core Protocols, Elements, and Bindings
            Committee Specification version 1.0 release 1</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:SAML:1.0:assertion" schemaLocation="saml_assertion.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:complexType name="AnyType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InternationalStringType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="InputDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="dss:Document"/>
          <xs:element ref="dss:TransformedData"/>
          <xs:element ref="dss:DocumentHash"/>
          <xs:element name="Other" type="dss:AnyType"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType abstract="true" name="DocumentBaseType">
    <xs:attribute name="ID" type="xs:ID" use="optional"/>
    <xs:attribute name="RefURI" type="xs:anyURI" use="optional"/>
    <xs:attribute name="RefType" type="xs:anyURI" use="optional"/>
    <xs:attribute name="SchemaRefs" type="xs:IDREFS" use="optional"/>
  </xs:complexType>
  <xs:element name="Document" type="dss:DocumentType"/>
  <xs:complexType name="DocumentType">
    <xs:complexContent>
      <xs:extension base="dss:DocumentBaseType">
        <xs:choice>
          <xs:element name="InlineXML" type="dss:InlineXMLType"/>
          <xs:element name="Base64XML" type="xs:base64Binary"/>
          <xs:element name="EscapedXML" type="xs:string"/>
          <xs:element ref="dss:Base64Data"/>
          <xs:element ref="dss:AttachmentReference"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Base64Data">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:base64Binary">
          <xs:attribute name="MimeType" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InlineXMLType">
    <xs:sequence>
      <xs:any processContents="lax"/>
    </xs:sequence>
    <xs:attribute default="true" name="ignorePIs" type="xs:boolean" use="optional"/>
    <xs:attribute default="true" name="ignoreComments" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:element name="TransformedData">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dss:DocumentBaseType">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ds:Transforms"/>
            <xs:element ref="dss:Base64Data"/>
          </xs:sequence>
          <xs:attribute name="WhichReference" type="xs:integer" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentHash">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dss:DocumentBaseType">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ds:Transforms"/>
            <xs:element minOccurs="0" ref="ds:DigestMethod"/>
            <xs:element ref="ds:DigestValue"/>
          </xs:sequence>
          <xs:attribute name="WhichReference" type="xs:integer" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignatureObject">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ds:Signature"/>
          <xs:element ref="dss:Timestamp"/>
          <xs:element ref="dss:Base64Signature"/>
          <xs:element ref="dss:SignaturePtr"/>
          <xs:element name="Other" type="dss:AnyType"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="SchemaRefs" type="xs:IDREFS" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Base64Signature">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:base64Binary">
          <xs:attribute name="Type" type="xs:anyURI"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignaturePtr">
    <xs:complexType>
      <xs:attribute name="WhichDocument" type="xs:IDREF"/>
      <xs:attribute name="XPath" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResultMajor" type="xs:anyURI"/>
        <xs:element minOccurs="0" name="ResultMinor" type="xs:anyURI"/>
        <xs:element minOccurs="0" name="ResultMessage" type="dss:InternationalStringType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptionalInputs" type="dss:AnyType"/>
  <xs:element name="OptionalOutputs" type="dss:AnyType"/>
  <xs:element name="ServicePolicy" type="xs:anyURI"/>
  <xs:element name="ClaimedIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="saml:NameIdentifierType"/>
        <xs:element minOccurs="0" name="SupportingInfo" type="dss:AnyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Language" type="xs:language"/>
  <xs:element name="AdditionalProfile" type="xs:anyURI"/>
  <xs:element name="Schemas" type="dss:SchemasType"/>
  <xs:complexType name="SchemasType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="dss:Schema"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schema" type="dss:DocumentType"/>
  <xs:complexType name="RequestBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="dss:OptionalInputs"/>
      <xs:element minOccurs="0" ref="dss:InputDocuments"/>
    </xs:sequence>
    <xs:attribute name="RequestID" type="xs:string" use="optional"/>
    <xs:attribute name="Profile" type="xs:anyURI" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ResponseBaseType">
    <xs:sequence>
      <xs:element ref="dss:Result"/>
      <xs:element minOccurs="0" ref="dss:OptionalOutputs"/>
    </xs:sequence>
    <xs:attribute name="RequestID" type="xs:string" use="optional"/>
    <xs:attribute name="Profile" type="xs:anyURI" use="required"/>
  </xs:complexType>
  <xs:element name="Response" type="dss:ResponseBaseType"/>
  <xs:element name="SignRequest">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dss:RequestBaseType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignResponse">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dss:ResponseBaseType">
          <xs:sequence>
            <xs:element minOccurs="0" ref="dss:SignatureObject"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignatureType" type="xs:anyURI"/>
  <xs:element name="AddTimestamp" type="dss:UpdateSignatureInstructionType"/>
  <xs:complexType name="TimeSignatureInstructionType">
    <xs:complexContent>
      <xs:extension base="dss:UpdateSignatureInstructionType">
        <xs:attribute default="false" name="TimeStampTheGivenSignature" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateSignatureInstructionType">
    <xs:attribute name="Type" type="xs:anyURI" use="optional"/>
  </xs:complexType>
  <xs:element name="IntendedAudience">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Recipient" type="saml:NameIdentifierType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeySelector">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ds:KeyInfo"/>
        <xs:element name="Other" type="dss:AnyType"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignedProperties" type="dss:PropertiesType"/>
        <xs:element minOccurs="0" name="UnsignedProperties" type="dss:PropertiesType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PropertiesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="dss:Property"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:anyURI"/>
        <xs:element minOccurs="0" name="Value" type="dss:AnyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncludeObject">
    <xs:complexType>
      <xs:attribute name="WhichDocument" type="xs:IDREF"/>
      <xs:attribute default="false" name="hasObjectTagsAndAttributesSet" type="xs:boolean"/>
      <xs:attribute name="ObjId" type="xs:string" use="optional"/>
      <xs:attribute default="true" name="createReference" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignaturePlacement">
    <xs:complexType>
      <xs:choice>
        <xs:element name="XPathAfter" type="xs:string"/>
        <xs:element name="XPathFirstChildOf" type="xs:string"/>
      </xs:choice>
      <xs:attribute name="WhichDocument" type="xs:IDREF"/>
      <xs:attribute default="true" name="CreateEnvelopedSignature" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentWithSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dss:Document"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignedReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dss:SignedReference"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignedReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ds:Transforms"/>
      </xs:sequence>
      <xs:attribute name="WhichDocument" type="xs:IDREF" use="required"/>
      <xs:attribute name="RefURI" type="xs:anyURI" use="optional"/>
      <xs:attribute name="RefId" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyRequest">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dss:RequestBaseType">
          <xs:sequence>
            <xs:element minOccurs="0" ref="dss:SignatureObject"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyResponse" type="dss:ResponseBaseType"/>
  <xs:element name="VerifyManifestResults" type="dss:VerifyManifestResultsType"/>
  <xs:complexType name="VerifyManifestResultsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="dss:ManifestResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManifestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReferenceXpath" type="xs:string"/>
        <xs:element name="Status" type="xs:anyURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseVerificationTime"/>
  <xs:complexType name="UseVerificationTimeType">
    <xs:choice>
      <xs:element name="CurrentTime"/>
      <xs:element name="SpecificTime" type="xs:dateTime"/>
      <xs:any namespace="##other"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="ReturnVerificationTimeInfo"/>
  <xs:element name="AdditionalTimeInfo" type="dss:AdditionalTimeInfoType"/>
  <xs:complexType name="AdditionalTimeInfoType">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attribute name="Type" type="xs:anyURI" use="required"/>
        <xs:attribute name="Ref" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="VerificationTimeInfo" type="dss:VerificationTimeInfoType"/>
  <xs:complexType name="VerificationTimeInfoType">
    <xs:sequence>
      <xs:element name="VerificationTime" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="dss:AdditionalTimeInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalKeyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ds:KeyInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnProcessingDetails"/>
  <xs:element name="ProcessingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ValidDetail" type="dss:DetailType"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="IndeterminateDetail" type="dss:DetailType"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="InvalidDetail" type="dss:DetailType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DetailType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:anyURI"/>
      <xs:element minOccurs="0" name="Message" type="dss:InternationalStringType"/>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="Type" type="xs:anyURI" use="required"/>
  </xs:complexType>
  <xs:element name="ReturnSigningTimeInfo"/>
  <xs:element name="SigningTimeInfo" type="dss:SigningTimeInfoType"/>
  <xs:complexType name="SigningTimeInfoType">
    <xs:sequence>
      <xs:element name="SigningTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SigningTimeBoundaries">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="LowerBoundary" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="UpperBoundary" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnSignerIdentity"/>
  <xs:element name="SignerIdentity" type="saml:NameIdentifierType"/>
  <xs:element name="ReturnUpdatedSignature">
    <xs:complexType>
      <xs:attribute name="Type" type="xs:anyURI" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatedSignature" type="dss:UpdatedSignatureType"/>
  <xs:complexType name="UpdatedSignatureType">
    <xs:sequence>
      <xs:element ref="dss:SignatureObject"/>
    </xs:sequence>
    <xs:attribute name="Type" type="xs:anyURI" use="optional"/>
  </xs:complexType>
  <xs:element name="ReturnTransformedDocument">
    <xs:complexType>
      <xs:attribute name="WhichReference" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformedDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dss:Document"/>
      </xs:sequence>
      <xs:attribute name="WhichReference" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnTimestampedSignature" type="dss:UpdateSignatureInstructionType"/>
  <xs:element name="TimestampedSignature" type="dss:UpdatedSignatureType"/>
  <xs:element name="Timestamp">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ds:Signature"/>
        <xs:element name="RFC3161TimeStampToken" type="xs:base64Binary"/>
        <xs:element name="Other" type="dss:AnyType"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="TstInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SerialNumber" type="xs:integer"/>
        <xs:element name="CreationTime" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="Policy" type="xs:anyURI"/>
        <xs:element minOccurs="0" name="ErrorBound" type="xs:duration"/>
        <xs:element default="false" minOccurs="0" name="Ordered" type="xs:boolean"/>
        <xs:element minOccurs="0" name="TSA" type="saml:NameIdentifierType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequesterIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="saml:NameIdentifierType"/>
        <xs:element minOccurs="0" name="SupportingInfo" type="dss:AnyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachmentReference" type="dss:AttachmentReferenceType"/>
  <xs:complexType name="AttachmentReferenceType">
    <xs:sequence minOccurs="0">
      <xs:element ref="ds:DigestMethod"/>
      <xs:element ref="ds:DigestValue"/>
    </xs:sequence>
    <xs:attribute name="AttRefURI" type="xs:anyURI"/>
    <xs:attribute name="MimeType" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>