decompiled/RECIPE.1.8.4/META-INF/recipe-central-system/XSD/PrescriberServices-v4.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http:/services.recipe.be/prescriber"
	xmlns:tns="http:/services.recipe.be/prescriber" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:core="http:/services.recipe.be/core" version="1.0">

	<xs:import namespace="http:/services.recipe.be/core"
		schemaLocation="recipe-core.xsd" />

	<xs:element name="RecipeException" nillable="true"
		type="tns:recipeExceptionDetails" />

	<xs:element name="createPrescription" type="tns:createPrescription" />

	<xs:element name="createPrescriptionResponse" type="tns:createPrescriptionResponse" />

	<xs:element name="getPrescriptionForPrescriber" type="tns:getPrescriptionForPrescriber" />

	<xs:element name="getPrescriptionForPrescriberResponse"
		type="tns:getPrescriptionForPrescriberResponse" />

	<xs:element name="listFeedbacks" type="tns:listFeedbacks" />

	<xs:element name="listFeedbacksResponse" type="tns:listFeedbacksResponse" />

	<xs:element name="ping" type="tns:ping" />

	<xs:element name="pingResponse" type="tns:pingResponse" />

	<xs:element name="recipeError" type="tns:recipeError" />

	<xs:element name="recipeExceptionDetails" type="tns:recipeExceptionDetails" />

	<xs:element name="revokePrescription" type="tns:revokePrescription" />

	<xs:element name="revokePrescriptionResponse" type="tns:revokePrescriptionResponse" />

	<xs:element name="sendNotification" type="tns:sendNotification" />

	<xs:element name="sendNotificationResponse" type="tns:sendNotificationResponse" />

	<xs:element name="updateFeedbackFlag" type="tns:updateFeedbackFlag" />

	<xs:element name="updateFeedbackFlagResponse" type="tns:updateFeedbackFlagResponse" />

	<xs:element name="uploadFile" type="tns:uploadFile" />

	<xs:element name="uploadFileResponse" type="tns:uploadFileResponse" />

	<xs:element name="putVision" type="tns:putVision" />

	<xs:element name="putVisionResponse" type="tns:putVisionResponse" />

	<xs:element name="getPrescriptionStatus" type="tns:getPrescriptionStatus" />

	<xs:element name="getPrescriptionStatusResponse" type="tns:getPrescriptionStatusResponse" />

	<xs:element name="listRidsHistory" type="tns:listRidsHistory" />

	<xs:element name="listRidsHistoryResponse" type="tns:listRidsHistoryResponse" />
	<xs:element name="listOpenRids" type="tns:listOpenRids" />

	<xs:element name="listOpenRidsResponse" type="tns:listOpenRidsResponse" />

	<xs:element name="validationProperties" type="tns:validationProperties" />

	<xs:element name="validationPropertiesResponse" type="tns:validationPropertiesResponse" />

	<xs:complexType name="sendNotification">
		<xs:sequence>
			<xs:element name="SendNotificationParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sendNotificationResponse">
		<xs:sequence>
			<xs:element name="SendNotificationResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="recipeExceptionDetails">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0" />
			<xs:element name="errorMap">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="key" minOccurs="0" type="xs:string" />
									<xs:element name="value" minOccurs="0" type="tns:recipeError" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="recipeError">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
			<xs:element name="resolution" type="xs:string" minOccurs="0" />
			<xs:element name="severity" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="revokePrescription">
		<xs:sequence>
			<xs:element name="RevokePrescriptionParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="revokePrescriptionResponse">
		<xs:sequence>
			<xs:element name="RevokePrescriptionResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listFeedbacks">
		<xs:sequence>
			<xs:element name="ListFeedbacksParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listFeedbacksResponse">
		<xs:sequence>
			<xs:element name="ListFeedbacksResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="uploadFile">
		<xs:sequence>
			<xs:element name="UploadFileParam" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="uploadFileResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="ping">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="pingResponse">
		<xs:sequence>
			<xs:element name="PingResult" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateFeedbackFlag">
		<xs:sequence>
			<xs:element name="UpdateFeedbackFlagParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateFeedbackFlagResponse">
		<xs:sequence>
			<xs:element name="UpdateFeedbackFlagResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionForPrescriber">
		<xs:sequence>
			<xs:element name="GetPrescriptionForPrescriberParamSealed"
				type="xs:base64Binary" minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionForPrescriberResponse">
		<xs:sequence>
			<xs:element name="GetPrescriptionForPrescriberResultSealed"
				type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createPrescription">
		<xs:sequence>
			<xs:element name="CreatePrescriptionParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="SecurityToken" type="xs:anyType"
				minOccurs="0" />
			<xs:element name="PrescriptionType" type="xs:string"
				minOccurs="0" />
			<xs:element name="DocumentId" type="xs:string" minOccurs="0" />
			<xs:element name="KeyId" type="xs:string" minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="PrescriptionVersion" type="xs:string"
				minOccurs="1" />
			<xs:element name="ReferenceSourceVersion" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createPrescriptionResponse">
		<xs:sequence>
			<xs:element name="CreatePrescriptionResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="putVision">
		<xs:sequence>
			<xs:element name="PutVisionParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="putVisionResponse">
		<xs:sequence>
			<xs:element name="PutVisionResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionStatus">
		<xs:sequence>
			<xs:element name="GetPrescriptionStatusParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionStatusResponse">
		<xs:sequence>
			<xs:element name="GetPrescriptionStatusResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listRidsHistory">
		<xs:sequence>
			<xs:element name="ListRidsHistoryParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listRidsHistoryResponse">
		<xs:sequence>
			<xs:element name="ListRidsHistoryResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="validationProperties">
		<xs:sequence>
			<xs:element name="ValidationPropertiesParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="validationPropertiesResponse">
		<xs:sequence>
			<xs:element name="ValidationPropertiesResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listOpenRids">
		<xs:sequence>
			<xs:element name="ListOpenRidsParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listOpenRidsResponse">
		<xs:sequence>
			<xs:element name="ListOpenRidsResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>