decompiled/RECIPE.1.7bis/META-INF/recipe-central-system/WSDL/PrescriberServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.recipe.be" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.recipe.be" name="PrescriberServices">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.recipe.be" schemaLocation="../XSD/PrescriberServices.xsd"/>
        </xsd:schema>
    </types>
    <message name="ping">
        <part name="parameters" element="tns:ping"/>
    </message>
    <message name="pingResponse">
        <part name="parameters" element="tns:pingResponse"/>
    </message>
    <message name="sendNotification">
        <part name="parameters" element="tns:sendNotification"/>
    </message>
    <message name="sendNotificationResponse">
        <part name="parameters" element="tns:sendNotificationResponse"/>
    </message>
    <message name="RecipeException">
        <part name="fault" element="tns:RecipeException"/>
    </message>
    <message name="createPrescription">
        <part name="parameters" element="tns:createPrescription"/>
    </message>
    <message name="createPrescriptionResponse">
        <part name="parameters" element="tns:createPrescriptionResponse"/>
    </message>
    <message name="revokePrescription">
        <part name="parameters" element="tns:revokePrescription"/>
    </message>
    <message name="revokePrescriptionResponse">
        <part name="parameters" element="tns:revokePrescriptionResponse"/>
    </message>
    <message name="getPrescriptionForPrescriber">
        <part name="parameters" element="tns:getPrescriptionForPrescriber"/>
    </message>
    <message name="getPrescriptionForPrescriberResponse">
        <part name="parameters" element="tns:getPrescriptionForPrescriberResponse"/>
    </message>
    <message name="listOpenPrescription">
        <part name="parameters" element="tns:listOpenPrescription"/>
    </message>
    <message name="listOpenPrescriptionResponse">
        <part name="parameters" element="tns:listOpenPrescriptionResponse"/>
    </message>
    <message name="updateFeedbackFlag">
        <part name="parameters" element="tns:updateFeedbackFlag"/>
    </message>
    <message name="updateFeedbackFlagResponse">
        <part name="parameters" element="tns:updateFeedbackFlagResponse"/>
    </message>
    <message name="listFeedbacks">
        <part name="parameters" element="tns:listFeedbacks"/>
    </message>
    <message name="listFeedbacksResponse">
        <part name="parameters" element="tns:listFeedbacksResponse"/>
    </message>
    <message name="uploadFile">
        <part name="parameters" element="tns:uploadFile"/>
    </message>
    <message name="uploadFileResponse">
        <part name="parameters" element="tns:uploadFileResponse"/>
    </message>
    <portType name="PrescriberServices">
        <operation name="ping">
            <input message="tns:ping"/>
            <output message="tns:pingResponse"/>
        </operation>
        <operation name="sendNotification">
            <input message="tns:sendNotification"/>
            <output message="tns:sendNotificationResponse"/>
            <fault message="tns:RecipeException" name="RecipeException"/>
        </operation>
        <operation name="createPrescription">
            <input message="tns:createPrescription"/>
            <output message="tns:createPrescriptionResponse"/>
            <fault message="tns:RecipeException" name="RecipeException"/>
        </operation>
        <operation name="revokePrescription">
            <input message="tns:revokePrescription"/>
            <output message="tns:revokePrescriptionResponse"/>
            <fault message="tns:RecipeException" name="RecipeException"/>
        </operation>
        <operation name="getPrescriptionForPrescriber">
            <input message="tns:getPrescriptionForPrescriber"/>
            <output message="tns:getPrescriptionForPrescriberResponse"/>
            <fault message="tns:RecipeException" name="RecipeException"/>
        </operation>
        <operation name="listOpenPrescription">
            <input message="tns:listOpenPrescription"/>
            <output message="tns:listOpenPrescriptionResponse"/>
            <fault message="tns:RecipeException" name="RecipeException"/>
        </operation>
        <operation name="updateFeedbackFlag">
            <input message="tns:updateFeedbackFlag"/>
            <output message="tns:updateFeedbackFlagResponse"/>
            <fault message="tns:RecipeException" name="RecipeException"/>
        </operation>
        <operation name="listFeedbacks">
            <input message="tns:listFeedbacks"/>
            <output message="tns:listFeedbacksResponse"/>
            <fault message="tns:RecipeException" name="RecipeException"/>
        </operation>
        <operation name="uploadFile">
            <input message="tns:uploadFile"/>
            <output message="tns:uploadFileResponse"/>
        </operation>
    </portType>
    <binding name="PrescriberServicesPortBinding" type="tns:PrescriberServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sendNotification">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RecipeException">
                <soap:fault name="RecipeException" use="literal"/>
            </fault>
        </operation>
        <operation name="createPrescription">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RecipeException">
                <soap:fault name="RecipeException" use="literal"/>
            </fault>
        </operation>
        <operation name="revokePrescription">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RecipeException">
                <soap:fault name="RecipeException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPrescriptionForPrescriber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RecipeException">
                <soap:fault name="RecipeException" use="literal"/>
            </fault>
        </operation>
        <operation name="listOpenPrescription">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RecipeException">
                <soap:fault name="RecipeException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateFeedbackFlag">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RecipeException">
                <soap:fault name="RecipeException" use="literal"/>
            </fault>
        </operation>
        <operation name="listFeedbacks">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RecipeException">
                <soap:fault name="RecipeException" use="literal"/>
            </fault>
        </operation>
        <operation name="uploadFile">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PrescriberServices">
        <port name="PrescriberServicesPort" binding="tns:PrescriberServicesPortBinding">
            <soap:address location="https://recip-e.belbone.be:8080/be-recipe-services-prescriber/PrescriberServices"/>
        </port>
    </service>
</definitions>