src/main/resources/XSD/seals_v1/ehealth-seals-schema-core-1_0.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xsd:schema xmlns:core="urn:be:fgov:ehealth:seals:core:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:be:fgov:ehealth:seals:core:v1" version="1.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:complexType name="OriginalDataType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:ID"/>
			<xsd:element name="AlgorithmCode" type="xsd:string"/>
			<xsd:element name="InputData" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChoiceEncodedDataErrorType">
		<xsd:choice>
			<xsd:element name="EncodedData" type="core:EncodedDataType"/>
			<xsd:element name="Error" type="core:ErrorType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="EncodedDataType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:ID"/>
			<xsd:element name="Value" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChoiceDecodedDataErrorType">
		<xsd:choice>
			<xsd:element name="DecodedData" type="core:DecodedDataType"/>
			<xsd:element name="Error" type="core:ErrorType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DecodedDataType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:ID"/>
			<xsd:element name="OutputData" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:ID"/>
			<xsd:element name="ErrorCode" type="xsd:string"/>
			<xsd:element name="ErrorValue" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>