decompiled/3.16.1/ehealth-hubservices/XSD/hubservices_core-2_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) eHealth -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cd="http://www.ehealth.fgov.be/standards/kmehr/cd/v1" xmlns:id="http://www.ehealth.fgov.be/standards/kmehr/id/v1" xmlns:kmehr="http://www.ehealth.fgov.be/standards/kmehr/schema/v1" xmlns="http://www.ehealth.fgov.be/hubservices/core/v2" targetNamespace="http://www.ehealth.fgov.be/hubservices/core/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.3">
 <xs:annotation xmlns:xs='http://www.w3.org/2001/XMLSchema' >
 <xs:appinfo>
 Implementation-Title: XSD 18. Hubservices
 Specification-Version: 2.3
 Implementation-Version: 2.3.2
 Build-Time: 20180627-1520 
 </xs:appinfo>
 </xs:annotation>
	<xsd:import namespace="http://www.ehealth.fgov.be/standards/kmehr/id/v1" schemaLocation="../../ehealth-kmehr/XSD/id-1_17.xsd"/>
	<xsd:import namespace="http://www.ehealth.fgov.be/standards/kmehr/cd/v1" schemaLocation="../../ehealth-kmehr/XSD/cd-1_17.xsd"/>
	<xsd:import namespace="http://www.ehealth.fgov.be/standards/kmehr/schema/v1" schemaLocation="../../ehealth-kmehr/XSD/kmehr-1_17.xsd"/>
	<!-- Common Request Type and Element -->
	<xsd:complexType name="RequestType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-KMEHR"/>
			<xsd:element name="author" type="AuthorWithPatientAndPersonType"/>
			<xsd:element name="date" type="xsd:date"/>
			<xsd:element name="time" type="xsd:time"/>
			<xsd:element name="maxrows" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AuthorWithPatientAndPersonType">
		<xsd:complexContent>
			<xsd:extension base="kmehr:authorType">
				<xsd:sequence>
					<xsd:element name="patient" type="PatientIdType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>coming from MH, optional to be backward compatible</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="person" type="kmehr:personTypeLight" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>required when not a patient or hcparty, optional to be backward compatible</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgeType">
		<xsd:sequence>
			<xsd:element name="iscomplete" type="xsd:boolean"/>
			<xsd:element name="error" type="kmehr:errorType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResponseType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-KMEHR"/>
			<xsd:element name="author" type="kmehr:authorType"/>
			<xsd:element name="date" type="xsd:date"/>
			<xsd:element name="time" type="xsd:time"/>
			<xsd:element name="request" type="RequestType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PatientIdType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-PATIENT" maxOccurs="unbounded"/>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>optional to be backward compatible w/ hub services</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string"/>
					<xsd:element name="familyname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HCPartyIdType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-HCPARTY" maxOccurs="unbounded"/>
			<xsd:element name="cd" type="cd:CD-HCPARTY" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>new implem coming from MH, optional to be backward compatible w/ hub services</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>optional to be backward compatible w/ hub services</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string"/>
					<xsd:element name="familyname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionIdType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-KMEHR" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LocalSearchType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="local"/>
			<xsd:enumeration value="global"/>
			<xsd:enumeration value="external"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GIVEN"/>
			<xsd:enumeration value="REVOKED"/>
			<xsd:enumeration value="DECEASED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ConsentType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="cd" type="cd:CD-CONSENT" maxOccurs="2"/>
			<xsd:element name="signdate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="revokedate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="author" type="AuthorWithPatientAndPersonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsentWithStatusType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="cd" type="cd:CD-CONSENT" maxOccurs="2"/>
			<xsd:element name="signdate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="revokedate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="status" type="StatusType"/>
			<xsd:element name="author" type="AuthorWithPatientAndPersonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsentHCPartyType">
		<xsd:sequence>
			<xsd:element name="hcparty" type="HCPartyIdType"/>
			<xsd:element name="signdate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="revokedate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="author" type="kmehr:authorType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TherapeuticLinkType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="hcparty" type="HCPartyIdType" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="cd" type="cd:CD-THERAPEUTICLINK"/>
			<xsd:element name="startdate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="enddate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TherapeuticLinkListType">
		<xsd:sequence>
			<xsd:element name="therapeuticlink" type="TherapeuticLinkWithOperationContext" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TherapeuticLinkWithOperationContext">
		<xsd:complexContent>
			<xsd:extension base="TherapeuticLinkType">
				<xsd:sequence>
					<xsd:element name="operationcontext" type="OperationContextType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>new implem (MH), optional to be backward compatible w/ hub services
              </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OperationContextType">
		<xsd:sequence>
			<xsd:element name="operation" type="TherapeuticLinkOperationType">
				<xsd:annotation>
					<xsd:documentation>type of operation : declaration or revocation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="recorddatetime" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>date and time when the TL is recorded in DB</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="author" type="RequestType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Author of the operations, optional to handle case of authentic source e.g. gmd</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="proof" type="ProofType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>proof applied upon the context of declaration or revocation, optional to handle revocation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TherapeuticLinkOperationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="declaration"/>
			<xsd:enumeration value="revocation"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AccessRightType">
		<xsd:sequence>
			<xsd:element name="transaction" type="TransactionIdType"/>
			<xsd:element name="hcparty" type="BasicHcPartyType"/>
			<xsd:element name="cd" type="cd:CD-ACCESSRIGHT"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccessRightListType">
		<xsd:sequence>
			<xsd:element name="accessright" type="AccessRightType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Select Type -->
	<xsd:complexType name="SelectGetTransactionListType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="transaction" type="BasicTransactionWithPeriodType" minOccurs="0"/>
			<xsd:element name="searchtype" type="LocalSearchType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BasicTransactionWithPeriodType">
		<xsd:sequence>
			<xsd:element name="cd" type="cd:CD-TRANSACTION" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="author" type="kmehr:authorType" minOccurs="0"/>
			<xsd:element name="begindate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="enddate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectGetTransactionType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="transaction" type="BasicTransactionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BasicTransactionType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-KMEHR"/>
			<xsd:element name="author" type="kmehr:authorType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectRevokeTransactionType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="transaction" type="TransactionIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectGetPatientType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectGetHCPartyType">
		<xsd:sequence>
			<xsd:element name="hcparty" type="HCPartyIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectGetHCPartyConsentType">
		<xsd:sequence>
			<xsd:element name="hcparty" type="HCPartyIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectGetHCPartyPatientConsentType">
		<xsd:sequence>
			<xsd:choice maxOccurs="2">
				<xsd:element name="patient" type="PatientIdType" minOccurs="0"/>
				<xsd:element name="hcparty" type="HCPartyIdType" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="cd" type="cd:CD-THERAPEUTICLINK" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="begindate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="enddate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- eh072 - 28/09/2016 - start -->
	<!--<xsd:complexType name="GetTherapeuticLinkSelectType"> <xsd:sequence> <xsd:element name="patient" type="PatientIdType" minOccurs="0"/> <xsd:element name="hcparty" type="HCPartyIdType" minOccurs="0" maxOccurs="unbounded"/> <xsd:element name="cd" type="cd:CD-THERAPEUTICLINK"
    minOccurs="0" maxOccurs="unbounded"/> <xsd:element name="begindate" type="xsd:date" minOccurs="0"> <xsd:annotation> <xsd:documentation>begin of the selected time period</xsd:documentation> </xsd:annotation> </xsd:element> <xsd:element name="enddate" type="xsd:date" 
    minOccurs="0"> <xsd:annotation> <xsd:documentation>end of the selected time period</xsd:documentation> </xsd:annotation> </xsd:element> <xsd:element name="therapeuticlinkstatus" default="active" minOccurs="0"> <xsd:annotation> <xsd:documentation>New implem 
    coming from MH, representing the status of the TL selected: active, inactive (revoked) or all. The default value is 'active' with or without the tag. Optional to be backward compatible w/ hub services </xsd:documentation> </xsd:annotation> <xsd:simpleType> 
    <xsd:restriction base="xsd:string"> <xsd:enumeration value="active"/> <xsd:enumeration value="inactive"/> <xsd:enumeration value="all"/> </xsd:restriction> </xsd:simpleType> </xsd:element> </xsd:sequence> </xsd:complexType> -->
	<xsd:complexType name="GetTherapeuticLinkSelectType">
		<xsd:sequence>
			<xsd:choice maxOccurs="2">
				<xsd:element name="patient" type="PatientIdType" minOccurs="0"/>
				<xsd:element name="hcparty" type="HCPartyIdType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:element name="cd" type="cd:CD-THERAPEUTICLINK" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="begindate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>begin of the selected time period</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="enddate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>end of the selected time period</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="therapeuticlinkstatus" default="active" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>New implem coming from MH, representing the status of the TL selected: active, inactive (revoked) or all. The default value is 'active' with or without the tag. Optional to be backward compatible w/ hub services
          </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="active"/>
						<xsd:enumeration value="inactive"/>
						<xsd:enumeration value="all"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- eh072 - 28/09/2016 - end -->
	<xsd:complexType name="SelectGetAccessRightType">
		<xsd:sequence>
			<xsd:element name="transaction" type="TransactionIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectRevokeAccessRightType">
		<xsd:sequence>
			<xsd:element name="transaction" type="TransactionIdType"/>
			<xsd:element name="hcparty" type="BasicHcPartyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BasicHcPartyType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-HCPARTY" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="cd" type="cd:CD-HCPARTY" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectGetPatientAuditTrailType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType" minOccurs="0"/>
			<xsd:element name="transaction" type="BasicTransactionType" minOccurs="0"/>
			<xsd:element name="hcparty" type="HCPartyIdType" minOccurs="0"/>
			<xsd:element name="begindate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="enddate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="searchtype" type="LocalSearchType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectRequestPublicationType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="transaction" type="BasicTransactionWithPeriodType"/>
			<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HasTherapeuticLinkSelectType">
	<xsd:sequence>
		<xsd:element name="patient" type="PatientIdType"/>
		<xsd:element name="hcparty" type="HCPartyIdType"/>
		<xsd:element name="cd" type="cd:CD-THERAPEUTICLINK" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
  </xsd:complexType>
  <!-- Specialized input/output Type -->
	<xsd:complexType name="DeclareTransactionRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="kmehrheader" type="KmehrHeaderDeclareTransactionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeclareTransactionResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="transaction" type="TransactionIdType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutTransactionRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="kmehrmessage" type="kmehr:kmehrmessageType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutTransactionResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="transaction" type="TransactionIdType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTransactionListRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetTransactionListType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTransactionListResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="kmehrheader" type="KmehrHeaderGetTransactionListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTransactionRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetTransactionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTransactionResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="kmehrmessage" type="kmehr:kmehrmessageType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeTransactionRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectRevokeTransactionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeTransactionResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutPatientRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="patient" type="kmehr:personType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutPatientResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="patient" type="kmehr:personType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetPatientRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetPatientType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetPatientResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="patient" type="kmehr:personType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutPatientConsentRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="consent" type="ConsentType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutPatientConsentResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetPatientConsentRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetPatientConsentType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SelectGetPatientConsentType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="consent" type="BasicConsentType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetPatientConsentResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="consent" type="ConsentType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokePatientConsentRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="consent" type="ConsentType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokePatientConsentResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetPatientConsentStatusRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetPatientConsentType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetPatientConsentStatusResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="consent" type="ConsentWithStatusType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutHCPartyRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="hcparty" type="HCPartyAdaptedType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutHCPartyResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="hcparty" type="HCPartyAdaptedType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetHCPartyRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetHCPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetHCPartyResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="hcparty" type="HCPartyAdaptedType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutHCPartyConsentRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="consent" type="ConsentHCPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutHCPartyConsentResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetHCPartyConsentRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetHCPartyConsentType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetHCPartyConsentResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="consent" type="ConsentHCPartyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeHCPartyConsentRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="consent" type="ConsentHCPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeHCPartyConsentResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="TherapeuticLinkWithProofType">
		<xsd:sequence>
			<xsd:element ref="therapeuticlink" minOccurs="1"/>
			<xsd:element name="proof" type="ProofType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
          </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="PutTherapeuticLinkBulkRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="therapeuticlinkrequest" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="id:ID-KMEHR"/>
						<xsd:group ref="TherapeuticLinkWithProofType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutTherapeuticLinkRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:group ref="TherapeuticLinkWithProofType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutTherapeuticLinkResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProofType">
		<xsd:sequence>
			<xsd:element name="cd" type="cd:CD-PROOF">
				<xsd:annotation>
					<xsd:documentation>describing different types of proof e.g. SISReading, eIDReading, eIDSigning, timestamp</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="binaryproof" type="kmehr:Base64EncryptedDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>existence depending on the type of proof</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTherapeuticLinkRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="GetTherapeuticLinkSelectType"/>
			<xsd:element name="proof" type="ProofType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>New implem coming from MH representing the proof of TL operations. Optional to be backward compatible w/ hub services </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTherapeuticLinkResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="therapeuticlinklist" type="TherapeuticLinkListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeTherapeuticLinkRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element ref="therapeuticlink"/>
			<xsd:element name="proof" type="ProofType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>proof of TL declaration, mandatory</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeTherapeuticLinkResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HasTherapeuticLinkRequestType">
	<xsd:sequence>
		<xsd:element name="request" type="RequestType"/>
		<xsd:element name="select" type="HasTherapeuticLinkSelectType"/>
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HasTherapeuticLinkResponseType">
	<xsd:sequence>
		<xsd:element name="response" type="ResponseType"/>
		<xsd:element name="acknowledge" type="AcknowledgeType"/>
		<xsd:element name="value" type="xsd:boolean" minOccurs="0"/>
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PutAccessRightRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="accessright" type="AccessRightType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutAccessRightResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccessRightRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetAccessRightType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccessRightResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="accessrightlist" type="AccessRightListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeAccessRightRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="accessright" type="SelectRevokeAccessRightType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeAccessRightResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Kmehr services types -->
	<xsd:complexType name="KmehrHeaderDeclareTransactionType">
		<xsd:sequence>
			<xsd:element name="folder" type="FolderType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FolderType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="transaction" type="TransactionSummaryType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FolderTypeUnbounded">
		<xsd:sequence>
			<xsd:element name="patient" type="kmehr:personType"/>
			<xsd:element name="transaction" type="TransactionSummaryType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionSummaryType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-KMEHR" maxOccurs="unbounded"/>
			<xsd:element name="cd" type="cd:CD-TRANSACTION" maxOccurs="unbounded"/>
			<xsd:element name="date" type="xsd:date"/>
			<xsd:element name="time" type="xsd:time"/>
			<xsd:element name="author" type="kmehr:authorType"/>
			<xsd:element name="iscomplete" type="xsd:boolean"/>
			<xsd:element name="isvalidated" type="xsd:boolean"/>
			<xsd:element name="recorddatetime" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="KmehrHeaderGetTransactionListType">
		<xsd:sequence>
			<xsd:element name="folder" type="FolderTypeUnbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HCPartyAdaptedType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-HCPARTY" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>ideally this should refer to a INAMI/RIZIV number. It can refer to alternative local identifiers. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cd" type="cd:CD-HCPARTY" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>must at least refer to a value of CD-HCPARTY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element name="name" type="xsd:string"/>
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string"/>
					<xsd:element name="familyname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="address" type="kmehr:addressType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="telecom" type="kmehr:telecomType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="recorddatetime" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetPatientAuditTrailRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectGetPatientAuditTrailType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetPatientAuditTrailResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="transactionaccesslist" type="TransactionAccessListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionAccessListType">
		<xsd:sequence>
			<xsd:element name="transactionaccess" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patient" type="PatientIdType" minOccurs="0"/>
						<xsd:element name="transaction" type="TransactionWithAuthorType" minOccurs="0"/>
						<xsd:element name="hcparty" type="kmehr:hcpartyType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="accessdatetime" type="xsd:dateTime"/>
						<!--<xsd:element name="acknowledge" type="AcknowledgeType"/> -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionWithAuthorType">
		<xsd:sequence>
			<xsd:element name="id" type="id:ID-KMEHR" maxOccurs="unbounded"/>
			<xsd:element name="cd" type="cd:CD-TRANSACTION" maxOccurs="unbounded"/>
			<xsd:element name="date" type="xsd:date"/>
			<xsd:element name="time" type="xsd:time"/>
			<xsd:element name="author" type="kmehr:authorType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestPublicationResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestPublicationRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="SelectRequestPublicationType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="therapeuticlink" type="TherapeuticLinkType"/>
	<xsd:complexType name="BasicConsentType">
		<xsd:sequence>
			<xsd:element name="cd" type="cd:CD-CONSENT" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- eh072 - MH-1021 - WS Exclusion - 24/11/2016 - Start -->
	<xsd:complexType name="PutTherapeuticExclusionRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="therapeuticexclusion" type="TherapeuticExclusionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PutTherapeuticExclusionResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTherapeuticExclusionRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="TherapeuticExclusionSelectType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTherapeuticExclusionResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="therapeuticexclusionlist" type="TherapeuticExclusionListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 07/12/2016 - eh072 - MH-1021 - WS Exclusion - Add getTherapeuticExclusionHistory - Start -->
	<xsd:complexType name="GetTherapeuticExclusionHistoryRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="select" type="TherapeuticExclusionHistorySelectType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTherapeuticExclusionHistoryResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
			<xsd:element name="therapeuticexclusionlist" type="TherapeuticExclusionListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 07/12/2016 - eh072 - MH-1021 - WS Exclusion - Add getTherapeuticExclusionHistory - End -->
	<xsd:complexType name="TherapeuticExclusionListType">
		<xsd:sequence>
			<xsd:element name="therapeuticexclusion" type="TherapeuticExclusionWithOperationContext" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TherapeuticExclusionWithOperationContext">
		<xsd:complexContent>
			<xsd:extension base="TherapeuticExclusionType">
				<xsd:sequence>
					<xsd:element name="operationcontext" type="OperationContextType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RevokeTherapeuticExclusionRequestType">
		<xsd:sequence>
			<xsd:element name="request" type="RequestType"/>
			<xsd:element name="therapeuticexclusion" type="TherapeuticExclusionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevokeTherapeuticExclusionResponseType">
		<xsd:sequence>
			<xsd:element name="response" type="ResponseType"/>
			<xsd:element name="acknowledge" type="AcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TherapeuticExclusionType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="hcparty" type="kmehr:hcpartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TherapeuticExclusionHistorySelectType">
		<xsd:complexContent>
			<xsd:extension base="TherapeuticExclusionSelectType">
				<xsd:sequence>
					<xsd:element name="begindate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>begin of the selected time period</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="enddate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>end of the selected time period</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TherapeuticExclusionSelectType">
		<xsd:sequence>
			<xsd:element name="patient" type="PatientIdType"/>
			<xsd:element name="hcparty" type="kmehr:hcpartyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- eh072 - MH-1021 - WS Exclusion - 24/11/2016 - End -->
</xsd:schema>
