decompiled/RECIPE.1.8.4/META-INF/recipe-central-system/WSDL/ExecutorServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.4. -->
<definitions targetNamespace="http://services.recipe.be" name="ExecutorServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.recipe.be" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.recipe.be" schemaLocation="../XSD/ExecutorServices.xsd"/>
    </xsd:schema>
  </types>
  <message name="createFeedback">
    <part name="parameters" element="tns:createFeedback"/>
  </message>
  <message name="createFeedbackResponse">
    <part name="parameters" element="tns:createFeedbackResponse"/>
  </message>
  <message name="RecipeException">
    <part name="fault" element="tns:RecipeException"/>
  </message>
  <message name="getPrescriptionForExecutor">
    <part name="parameters" element="tns:getPrescriptionForExecutor"/>
  </message>
  <message name="getPrescriptionForExecutorResponse">
    <part name="parameters" element="tns:getPrescriptionForExecutorResponse"/>
  </message>
  <message name="markAsArchived">
    <part name="parameters" element="tns:markAsArchived"/>
  </message>
  <message name="markAsArchivedResponse">
    <part name="parameters" element="tns:markAsArchivedResponse"/>
  </message>
  <message name="markAsDelivered">
    <part name="parameters" element="tns:markAsDelivered"/>
  </message>
  <message name="markAsDeliveredResponse">
    <part name="parameters" element="tns:markAsDeliveredResponse"/>
  </message>
  <message name="markAsUnDelivered">
    <part name="parameters" element="tns:markAsUnDelivered"/>
  </message>
  <message name="markAsUnDeliveredResponse">
    <part name="parameters" element="tns:markAsUnDeliveredResponse"/>
  </message>
  <message name="listNotifications">
    <part name="parameters" element="tns:listNotifications"/>
  </message>
  <message name="listNotificationsResponse">
    <part name="parameters" element="tns:listNotificationsResponse"/>
  </message>
  <message name="uploadFile">
    <part name="parameters" element="tns:uploadFile"/>
  </message>
  <message name="uploadFileResponse">
    <part name="parameters" element="tns:uploadFileResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <message name="revokePrescription">
    <part name="parameters" element="tns:revokePrescription"/>
  </message>
  <message name="revokePrescriptionResponse">
    <part name="parameters" element="tns:revokePrescriptionResponse"/>
  </message>
  <portType name="ExecutorServices">
    <operation name="createFeedback">
      <input message="tns:createFeedback"/>
      <output message="tns:createFeedbackResponse"/>
      <fault message="tns:RecipeException" name="RecipeException"/>
    </operation>
    <operation name="getPrescriptionForExecutor">
      <input message="tns:getPrescriptionForExecutor"/>
      <output message="tns:getPrescriptionForExecutorResponse"/>
      <fault message="tns:RecipeException" name="RecipeException"/>
    </operation>
    <operation name="markAsArchived">
      <input message="tns:markAsArchived"/>
      <output message="tns:markAsArchivedResponse"/>
      <fault message="tns:RecipeException" name="RecipeException"/>
    </operation>
    <operation name="markAsDelivered">
      <input message="tns:markAsDelivered"/>
      <output message="tns:markAsDeliveredResponse"/>
      <fault message="tns:RecipeException" name="RecipeException"/>
    </operation>
    <operation name="markAsUnDelivered">
      <input message="tns:markAsUnDelivered"/>
      <output message="tns:markAsUnDeliveredResponse"/>
      <fault message="tns:RecipeException" name="RecipeException"/>
    </operation>
    <operation name="listNotifications">
      <input message="tns:listNotifications"/>
      <output message="tns:listNotificationsResponse"/>
      <fault message="tns:RecipeException" name="RecipeException"/>
    </operation>
    <operation name="uploadFile">
      <input message="tns:uploadFile"/>
      <output message="tns:uploadFileResponse"/>
    </operation>
    <operation name="ping">
      <input message="tns:ping"/>
      <output message="tns:pingResponse"/>
    </operation>
    <operation name="revokePrescription">
      <input message="tns:revokePrescription"/>
      <output message="tns:revokePrescriptionResponse"/>
      <fault message="tns:RecipeException" name="RecipeException"/>
    </operation>
  </portType>
  <binding name="ExecutorServicesPortBinding" type="tns:ExecutorServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createFeedback">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RecipeException">
        <soap:fault name="RecipeException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPrescriptionForExecutor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RecipeException">
        <soap:fault name="RecipeException" use="literal"/>
      </fault>
    </operation>
    <operation name="markAsArchived">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RecipeException">
        <soap:fault name="RecipeException" use="literal"/>
      </fault>
    </operation>
    <operation name="markAsDelivered">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RecipeException">
        <soap:fault name="RecipeException" use="literal"/>
      </fault>
    </operation>
    <operation name="markAsUnDelivered">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RecipeException">
        <soap:fault name="RecipeException" use="literal"/>
      </fault>
    </operation>
    <operation name="listNotifications">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RecipeException">
        <soap:fault name="RecipeException" use="literal"/>
      </fault>
    </operation>
    <operation name="uploadFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="revokePrescription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RecipeException">
        <soap:fault name="RecipeException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ExecutorServices">
    <port name="ExecutorServicesPort" binding="tns:ExecutorServicesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

