compiled/RECIPE.1.8.4/META-INF/wsdl/ehealth-commons-schema-protocol-1_4.xsd

<!-- edited with XMLSpy v2009 (http://www.altova.com) by Smals-MVM ASBL/VZW (Smals-MVM ASBL/VZW) -->
<xs:schema targetNamespace="urn:be:fgov:ehealth:commons:protocol:v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="urn:be:fgov:ehealth:commons:core:v1" xmlns:protocol="urn:be:fgov:ehealth:commons:protocol:v1"> 
	<xs:import namespace="urn:be:fgov:ehealth:commons:core:v1" schemaLocation="ehealth-commons-schema-core-1_4.xsd"/> 
	<xs:complexType name="RequestType"/> 
	<xs:complexType name="ResponseType"> 
		<xs:sequence> 
			<xs:element name="Status" type="core:StatusType"/> 
		</xs:sequence> 
		<xs:attribute name="Id" type="xs:string"/> 
	</xs:complexType> 
</xs:schema>