compiled/RECIPE.1.8.1/META-INF/recipe-central-system/WSDL/PatientServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.recipe.be" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.recipe.be" name="PatientServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.recipe.be" schemaLocation="../XSD/PatientServices.xsd"/>
</xsd:schema>
</types>
<message name="getException">
<part name="parameters" element="tns:getException"/>
</message>
<message name="getExceptionResponse">
<part name="parameters" element="tns:getExceptionResponse"/>
</message>
<message name="RecipeException">
<part name="fault" element="tns:RecipeException"/>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"/>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"/>
</message>
<message name="revokePrescription">
<part name="parameters" element="tns:revokePrescription"/>
</message>
<message name="revokePrescriptionResponse">
<part name="parameters" element="tns:revokePrescriptionResponse"/>
</message>
<message name="updateFeedbackFlag">
<part name="parameters" element="tns:updateFeedbackFlag"/>
</message>
<message name="updateFeedbackFlagResponse">
<part name="parameters" element="tns:updateFeedbackFlagResponse"/>
</message>
<message name="uploadFile">
<part name="parameters" element="tns:uploadFile"/>
</message>
<message name="uploadFileResponse">
<part name="parameters" element="tns:uploadFileResponse"/>
</message>
<message name="getPrescriptionForPatient">
<part name="parameters" element="tns:getPrescriptionForPatient"/>
</message>
<message name="getPrescriptionForPatientResponse">
<part name="parameters" element="tns:getPrescriptionForPatientResponse"/>
</message>
<message name="listPatientPrescription">
<part name="parameters" element="tns:listPatientPrescription"/>
</message>
<message name="listPatientPrescriptionResponse">
<part name="parameters" element="tns:listPatientPrescriptionResponse"/>
</message>
<portType name="PatientServices">
<operation name="getException">
<input message="tns:getException"/>
<output message="tns:getExceptionResponse"/>
<fault message="tns:RecipeException" name="RecipeException"/>
</operation>
<operation name="ping">
<input message="tns:ping"/>
<output message="tns:pingResponse"/>
</operation>
<operation name="revokePrescription">
<input message="tns:revokePrescription"/>
<output message="tns:revokePrescriptionResponse"/>
<fault message="tns:RecipeException" name="RecipeException"/>
</operation>
<operation name="updateFeedbackFlag">
<input message="tns:updateFeedbackFlag"/>
<output message="tns:updateFeedbackFlagResponse"/>
<fault message="tns:RecipeException" name="RecipeException"/>
</operation>
<operation name="uploadFile">
<input message="tns:uploadFile"/>
<output message="tns:uploadFileResponse"/>
</operation>
<operation name="getPrescriptionForPatient">
<input message="tns:getPrescriptionForPatient"/>
<output message="tns:getPrescriptionForPatientResponse"/>
<fault message="tns:RecipeException" name="RecipeException"/>
</operation>
<operation name="listPatientPrescription">
<input message="tns:listPatientPrescription"/>
<output message="tns:listPatientPrescriptionResponse"/>
<fault message="tns:RecipeException" name="RecipeException"/>
</operation>
</portType>
<binding name="PatientServicesPortBinding" type="tns:PatientServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RecipeException">
<soap:fault name="RecipeException" use="literal"/>
</fault>
</operation>
<operation name="ping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="revokePrescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RecipeException">
<soap:fault name="RecipeException" use="literal"/>
</fault>
</operation>
<operation name="updateFeedbackFlag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RecipeException">
<soap:fault name="RecipeException" use="literal"/>
</fault>
</operation>
<operation name="uploadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrescriptionForPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RecipeException">
<soap:fault name="RecipeException" use="literal"/>
</fault>
</operation>
<operation name="listPatientPrescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RecipeException">
<soap:fault name="RecipeException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PatientServices">
<port name="PatientServicesPort" binding="tns:PatientServicesPortBinding">
<soap:address location="https://recip-e.belbone.be:8080/be-recipe-services-patient/PatientServices"/>
</port>
</service>
</definitions>