decompiled/RECIPE.1.8.2/META-INF/ehealth-recipe-services/WSDL/RecipeWebService-prescriber-4_0.wsdl

<?xml version="1.0" encoding="utf-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:recipe="urn:be:fgov:ehealth:recipe:protocol:v4" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" name="RecipePrescriberWebservice" targetNamespace="urn:be:fgov:ehealth:recipe:protocol:v4">
	<documentation>Version 4.0</documentation>
	<types>
		<xsd:schema>
			<xsd:import namespace="urn:be:fgov:ehealth:recipe:protocol:v4" schemaLocation="recipeservices_protocol-4_0.xsd"/>
		</xsd:schema>
	</types>
	<message name="CreatePrescriptionRequest">
		<part name="body" element="recipe:CreatePrescriptionRequest"/>
	</message>
	<message name="CreatePrescriptionResponse">
		<part name="body" element="recipe:CreatePrescriptionResponse"/>
	</message>
	<message name="RevokePrescriptionRequest">
		<part name="body" element="recipe:RevokePrescriptionRequest"/>
	</message>
	<message name="RevokePrescriptionResponse">
		<part name="body" element="recipe:RevokePrescriptionResponse"/>
	</message>
	<message name="GetPrescriptionRequest">
		<part name="body" element="recipe:GetPrescriptionRequest"/>
	</message>
	<message name="GetPrescriptionResponse">
		<part name="body" element="recipe:GetPrescriptionResponse"/>
	</message>
	<message name="SendNotificationRequest">
		<part name="body" element="recipe:SendNotificationRequest"/>
	</message>
	<message name="SendNotificationResponse">
		<part name="body" element="recipe:SendNotificationResponse"/>
	</message>
	<message name="PutFeedbackFlagRequest">
		<part name="body" element="recipe:PutFeedbackFlagRequest"/>
	</message>
	<message name="PutFeedbackFlagResponse">
		<part name="body" element="recipe:PutFeedbackFlagResponse"/>
	</message>
	<message name="ListFeedbacksRequest">
		<part name="body" element="recipe:ListFeedbacksRequest"/>
	</message>
	<message name="ListFeedbacksResponse">
		<part name="body" element="recipe:ListFeedbacksResponse"/>
	</message>
	<message name="PutVisionForPrescriberRequest">
		<part name="body" element="recipe:PutVisionForPrescriberRequest"/>
	</message>
	<message name="PutVisionForPrescriberResponse">
		<part name="body" element="recipe:PutVisionForPrescriberResponse"/>
	</message>
	<message name="GetPrescriptionStatusRequest">
		<part name="body" element="recipe:GetPrescriptionStatusRequest"/>
	</message>
	<message name="GetPrescriptionStatusResponse">
		<part name="body" element="recipe:GetPrescriptionStatusResponse"/>
	</message>
	<message name="ListRidsHistoryRequest">
		<part name="body" element="recipe:ListRidsHistoryRequest"/>
	</message>
	<message name="ListRidsHistoryResponse">
		<part name="body" element="recipe:ListRidsHistoryResponse"/>
	</message>
	<message name="ListOpenRidsRequest">
		<part name="body" element="recipe:ListOpenRidsRequest"/>
	</message>
	<message name="ListOpenRidsResponse">
		<part name="body" element="recipe:ListOpenRidsResponse"/>
	</message>
	<message name="GetValidationPropertiesRequest">
		<part name="body" element="recipe:GetValidationPropertiesRequest"/>
	</message>
	<message name="GetValidationPropertiesResponse">
		<part name="body" element="recipe:GetValidationPropertiesResponse"/>
	</message>

	<portType name="RecipePrescriberPortType">
		<operation name="createPrescription">
			<input message="recipe:CreatePrescriptionRequest"/>
			<output message="recipe:CreatePrescriptionResponse"/>
		</operation>
		<operation name="revokePrescription">
			<input message="recipe:RevokePrescriptionRequest"/>
			<output message="recipe:RevokePrescriptionResponse"/>
		</operation>
		<operation name="getPrescription">
			<input message="recipe:GetPrescriptionRequest"/>
			<output message="recipe:GetPrescriptionResponse"/>
		</operation>
		<operation name="sendNotification">
			<input message="recipe:SendNotificationRequest"/>
			<output message="recipe:SendNotificationResponse"/>
		</operation>
		<operation name="putFeedbackFlag">
			<input message="recipe:PutFeedbackFlagRequest"/>
			<output message="recipe:PutFeedbackFlagResponse"/>
		</operation>
		<operation name="listFeedbacks">
			<input message="recipe:ListFeedbacksRequest"/>
			<output message="recipe:ListFeedbacksResponse"/>
		</operation>
		<operation name="putVisionForPrescriber">
			<input message="recipe:PutVisionForPrescriberRequest"/>
			<output message="recipe:PutVisionForPrescriberResponse"/>
		</operation>
		<operation name="getPrescriptionStatus">
			<input message="recipe:GetPrescriptionStatusRequest"/>
			<output message="recipe:GetPrescriptionStatusResponse"/>
		</operation>
		<operation name="listRidsHistory">
			<input message="recipe:ListRidsHistoryRequest"/>
			<output message="recipe:ListRidsHistoryResponse"/>
		</operation>
			<operation name="listOpenRids">
			<input message="recipe:ListOpenRidsRequest"/>
			<output message="recipe:ListOpenRidsResponse"/>
		</operation>
			<operation name="getValidationProperties">
			<input message="recipe:GetValidationPropertiesRequest"/>
			<output message="recipe:GetValidationPropertiesResponse"/>
		</operation>
		
	</portType>
	<binding name="RecipePrescriberSoapBinding" type="recipe:RecipePrescriberPortType">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createPrescription">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:createPrescription"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="revokePrescription">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:revokePrescription"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="getPrescription">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:getPrescription"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="sendNotification">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:sendNotification"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="putFeedbackFlag">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:putFeedbackFlag"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="listFeedbacks">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:listFeedbacks"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="putVisionForPrescriber">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:putVisionForPrescriber"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="getPrescriptionStatus">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:getPrescriptionStatus"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="listRidsHistory">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:listRidsHistory"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="listOpenRids">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:ListOpenRids"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>
		<operation name="getValidationProperties">
			<soap11:operation style="document" soapAction="urn:be:fgov:ehealth:recipe:protocol:v4:getValidationProperties"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
		</operation>

	</binding>
	<service name="RecipePrescriberService">
		<port name="RecipePrescriberServiceSOAP11" binding="recipe:RecipePrescriberSoapBinding">
			<soap11:address location="https://REPLACE_WITH_ACTUAL_URL"/>
		</port>
	</service>
</definitions>
