compiled/RECIPE.1.8.2/META-INF/recipe-central-system/WSDL/PrescriberServices-v4.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions
	xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http:/services.recipe.be/prescriber" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http:/services.recipe.be/prescriber"
	name="PrescriberServices">
	<types>
		<xsd:schema>
			<xsd:import namespace="http:/services.recipe.be/prescriber"
				schemaLocation="../XSD/PrescriberServices-v4.xsd" />
		</xsd:schema>
	</types>
	<message name="createPrescription">
		<part name="parameters" element="tns:createPrescription" />
	</message>
	<message name="createPrescriptionResponse">
		<part name="parameters" element="tns:createPrescriptionResponse" />
	</message>
	<message name="revokePrescription">
		<part name="parameters" element="tns:revokePrescription" />
	</message>
	<message name="revokePrescriptionResponse">
		<part name="parameters" element="tns:revokePrescriptionResponse" />
	</message>
	<message name="getPrescriptionForPrescriber">
		<part name="parameters" element="tns:getPrescriptionForPrescriber" />
	</message>
	<message name="getPrescriptionForPrescriberResponse">
		<part name="parameters" element="tns:getPrescriptionForPrescriberResponse" />
	</message>
	<message name="sendNotification">
		<part name="parameters" element="tns:sendNotification" />
	</message>
	<message name="sendNotificationResponse">
		<part name="parameters" element="tns:sendNotificationResponse" />
	</message>
	<message name="updateFeedbackFlag">
		<part name="parameters" element="tns:updateFeedbackFlag" />
	</message>
	<message name="updateFeedbackFlagResponse">
		<part name="parameters" element="tns:updateFeedbackFlagResponse" />
	</message>
	<message name="listFeedbacks">
		<part name="parameters" element="tns:listFeedbacks" />
	</message>
	<message name="listFeedbacksResponse">
		<part name="parameters" element="tns:listFeedbacksResponse" />
	</message>
	<message name="uploadFile">
		<part name="parameters" element="tns:uploadFile" />
	</message>
	<message name="uploadFileResponse">
		<part name="parameters" element="tns:uploadFileResponse" />
	</message>
	<message name="ping">
		<part name="parameters" element="tns:ping" />
	</message>
	<message name="pingResponse">
		<part name="parameters" element="tns:pingResponse" />
	</message>
	<message name="getPrescriptionStatus">
		<part name="parameters" element="tns:getPrescriptionStatus" />
	</message>
	<message name="getPrescriptionStatusResponse">
		<part name="parameters" element="tns:getPrescriptionStatusResponse" />
	</message>
	<message name="listRidsHistory">
		<part name="parameters" element="tns:listRidsHistory" />
	</message>
	<message name="listRidsHistoryResponse">
		<part name="parameters" element="tns:listRidsHistoryResponse" />
	</message>
	<message name="listOpenRids">
		<part name="parameters" element="tns:listOpenRids" />
	</message>
	<message name="listOpenRidsResponse">
		<part name="parameters" element="tns:listOpenRidsResponse" />
	</message>
	<message name="putVision">
		<part name="parameters" element="tns:putVision" />
	</message>
	<message name="putVisionResponse">
		<part name="parameters" element="tns:putVisionResponse" />
	</message>
	<message name="validationProperties">
		<part name="parameters" element="tns:validationProperties" />
	</message>
	<message name="validationPropertiesResponse">
		<part name="parameters" element="tns:validationPropertiesResponse" />
	</message>
	<portType name="PrescriberServices">
		<operation name="createPrescription">
			<input message="tns:createPrescription" />
			<output message="tns:createPrescriptionResponse" />
		</operation>
		<operation name="revokePrescription">
			<input message="tns:revokePrescription" />
			<output message="tns:revokePrescriptionResponse" />
		</operation>
		<operation name="getPrescription">
			<input message="tns:getPrescriptionForPrescriber" />
			<output message="tns:getPrescriptionForPrescriberResponse" />
		</operation>
		<operation name="sendNotification">
			<input message="tns:sendNotification" />
			<output message="tns:sendNotificationResponse" />
		</operation>
		<operation name="updateFeedbackFlag">
			<input message="tns:updateFeedbackFlag" />
			<output message="tns:updateFeedbackFlagResponse" />
		</operation>
		<operation name="listFeedbacks">
			<input message="tns:listFeedbacks" />
			<output message="tns:listFeedbacksResponse" />
		</operation>
		<operation name="uploadFile">
			<input message="tns:uploadFile" />
			<output message="tns:uploadFileResponse" />
		</operation>
		<operation name="ping">
			<input message="tns:ping" />
			<output message="tns:pingResponse" />
		</operation>
		<operation name="putVisionForPrescriber">
			<input message="tns:putVision" />
			<output message="tns:putVisionResponse" />
		</operation>
		<operation name="getPrescriptionStatus">
			<input message="tns:getPrescriptionStatus" />
			<output message="tns:getPrescriptionStatusResponse" />
		</operation>
		<operation name="listRidsHistory">
			<input message="tns:listRidsHistory" />
			<output message="tns:listRidsHistoryResponse" />
		</operation>
		<operation name="listOpenRids">
			<input message="tns:listOpenRids" />
			<output message="tns:listOpenRidsResponse" />
		</operation>
		<operation name="getValidationProperties">
			<input message="tns:validationProperties" />
			<output message="tns:validationPropertiesResponse" />
		</operation>
	</portType>
	<binding name="PrescriberServicesPortBinding" type="tns:PrescriberServices">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="createPrescription">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="revokePrescription">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getPrescription">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="listOpenRids">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="sendNotification">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="updateFeedbackFlag">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="listFeedbacks">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="uploadFile">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="ping">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="putVisionForPrescriber">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getPrescriptionStatus">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="listRidsHistory">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="listOpenRids">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getValidationProperties">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="PrescriberServices">
		<port name="PrescriberServicesPort" binding="tns:PrescriberServicesPortBinding">
			<soap:address
				location="https://services.recip-e.be:443/be-recipe-services-prescriber/PrescriberServices" />
		</port>
	</service>
</definitions>