src/main/resources/mycarenet-memberdata/XSD/Extensions-simplified.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by I.M. vzw (I.M. vzw) -->
<!-- W3C Schema generated by XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) -->
<!-- Last modified : PSI 28/2/2018 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"
           targetNamespace="urn:be:cin:nippin:memberdata:saml:extension">

    <xs:import namespace="urn:oasis:names:tc:SAML:2.0:protocol" schemaLocation="saml-schema-protocol-2.0.xsd"/>

    <xs:element name="AttributeQueryList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="samlp:AttributeQuery" maxOccurs="10000"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ExtensionsType">
        <xs:complexContent>
            <xs:extension base="samlp:ExtensionsType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ResponseList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="samlp:Response" maxOccurs="10000"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Facet">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Dimension" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="id" type="xs:anyURI" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:anyURI" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
