decompiled/RECIPE.1.8.1/META-INF/recipe-central-system/XSD/PatientServices-v4.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:tns="http:/services.recipe.be/patient"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http:/services.recipe.be/core"
	version="1.0" targetNamespace="http:/services.recipe.be/patient">

	<xs:import namespace="http:/services.recipe.be/core"
		schemaLocation="recipe-core.xsd" />

	<xs:element name="RecipeException" nillable="true"
		type="tns:recipeExceptionDetails" />

	<xs:element name="getPrescriptionForPatient" type="tns:getPrescriptionForPatient" />

	<xs:element name="getPrescriptionForPatientResponse" type="tns:getPrescriptionForPatientResponse" />

	<xs:element name="listPatientPrescription" type="tns:listPatientPrescription" />

	<xs:element name="listPatientPrescriptionResponse" type="tns:listPatientPrescriptionResponse" />

	<xs:element name="ping" type="tns:ping" />

	<xs:element name="pingResponse" type="tns:pingResponse" />

	<xs:element name="recipeError" type="tns:recipeError" />

	<xs:element name="recipeExceptionDetails" type="tns:recipeExceptionDetails" />

	<xs:element name="revokePrescription" type="tns:revokePrescription" />

	<xs:element name="revokePrescriptionResponse" type="tns:revokePrescriptionResponse" />

	<xs:element name="updateFeedbackFlag" type="tns:updateFeedbackFlag" />

	<xs:element name="updateFeedbackFlagResponse" type="tns:updateFeedbackFlagResponse" />

	<xs:element name="uploadFile" type="tns:uploadFile" />

	<xs:element name="uploadFileResponse" type="tns:uploadFileResponse" />

	<xs:element name="createReservation" type="tns:createReservation" />

	<xs:element name="createReservationResponse" type="tns:createReservationResponse" />

	<xs:element name="putVision" type="tns:putVision" />

	<xs:element name="putVisionResponse" type="tns:putVisionResponse" />

	<xs:element name="getVision" type="tns:getVision" />

	<xs:element name="getVisionResponse" type="tns:getVisionResponse" />

	<xs:element name="getPrescriptionStatus" type="tns:getPrescriptionStatus" />

	<xs:element name="getPrescriptionStatusResponse" type="tns:getPrescriptionStatusResponse" />

	<xs:element name="listRidsHistory" type="tns:listRidsHistory" />

	<xs:element name="listRidsHistoryResponse" type="tns:listRidsHistoryResponse" />

	<xs:element name="listOpenRids" type="tns:listOpenRids" />

	<xs:element name="listOpenRidsResponse" type="tns:listOpenRidsResponse" />

	<xs:element name="listRelations" type="tns:listRelations" />

	<xs:element name="listRelationsResponse" type="tns:listRelationsResponse" />

	<xs:element name="createRelation" type="tns:createRelation" />

	<xs:element name="createRelationResponse" type="tns:createRelationResponse" />

	<xs:element name="revokeRelation" type="tns:revokeRelation" />

	<xs:element name="revokeRelationResponse" type="tns:revokeRelationResponse" />

	<xs:complexType name="ping">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="pingResponse">
		<xs:sequence>
			<xs:element name="PingResult" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateFeedbackFlag">
		<xs:sequence>
			<xs:element name="UpdateFeedbackFlagParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateFeedbackFlagResponse">
		<xs:sequence>
			<xs:element name="UpdateFeedbackFlagResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="recipeExceptionDetails">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0" />
			<xs:element name="errorMap">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="key" minOccurs="0" type="xs:string" />
									<xs:element name="value" minOccurs="0" type="tns:recipeError" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="recipeError">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
			<xs:element name="resolution" type="xs:string" minOccurs="0" />
			<xs:element name="severity" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listPatientPrescription">
		<xs:sequence>
			<xs:element name="ListPatientPrescriptionsParamSealed"
				type="xs:base64Binary" minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listPatientPrescriptionResponse">
		<xs:sequence>
			<xs:element name="ListPatientPrescriptionsResultSealed"
				type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="revokePrescription">
		<xs:sequence>
			<xs:element name="RevokePrescriptionParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="revokePrescriptionResponse">
		<xs:sequence>
			<xs:element name="RevokePrescriptionResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionForPatient">
		<xs:sequence>
			<xs:element name="GetPrescriptionForPatientParamSealed"
				type="xs:base64Binary" minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionForPatientResponse">
		<xs:sequence>
			<xs:element name="GetPrescriptionForPatientResultSealed"
				type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="uploadFile">
		<xs:sequence>
			<xs:element name="UploadFileParam" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="uploadFileResponse">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="createReservation">
		<xs:sequence>
			<xs:element name="CreateReservationParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createReservationResponse">
		<xs:sequence>
			<xs:element name="CreateReservationResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="putVision">
		<xs:sequence>
			<xs:element name="PutVisionParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="putVisionResponse">
		<xs:sequence>
			<xs:element name="PutVisionResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getVision">
		<xs:sequence>
			<xs:element name="GetVisionParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getVisionResponse">
		<xs:sequence>
			<xs:element name="GetVisionResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionStatus">
		<xs:sequence>
			<xs:element name="GetPrescriptionStatusParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionStatusResponse">
		<xs:sequence>
			<xs:element name="GetPrescriptionStatusResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listRidsHistory">
		<xs:sequence>
			<xs:element name="ListRidsHistoryParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listRidsHistoryResponse">
		<xs:sequence>
			<xs:element name="ListRidsHistoryResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listOpenRids">
		<xs:sequence>
			<xs:element name="ListOpenRidsParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listOpenRidsResponse">
		<xs:sequence>
			<xs:element name="ListOpenRidsResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listRelations">
		<xs:sequence>
			<xs:element name="ListRelationsParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listRelationsResponse">
		<xs:sequence>
			<xs:element name="ListRelationsResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createRelation">
		<xs:sequence>

			<xs:element name="CreateRelationParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createRelationResponse">
		<xs:sequence>
			<xs:element name="CreateRelationResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="revokeRelation">
		<xs:sequence>

			<xs:element name="RevokeRelationParamSealed" type="xs:base64Binary"
				minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string"
				minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="revokeRelationResponse">
		<xs:sequence>
			<xs:element name="RevokeRelationResultSealed" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>