decompiled/RECIPE.1.8.2/xsd/request-configuration-v20121116.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://services.gfddpp.be" targetNamespace="http://services.gfddpp.be/getconfiguration/v1">
	<xs:element name="getConfigurationRequestParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
				<xs:element name="nihiiPharmacyNumber" type="xs:string" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>