decompiled/RECIPE.1.8.4/META-INF/recipe-central-system-unsealed/XSD/UnsealedPrescriberServicesV4_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http:/services.recipe.be/prescriber" xmlns:tns="http:/services.recipe.be/prescriber" xmlns:core="http:/services.recipe.be/core"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http:/services.recipe.be/core" schemaLocation="recipe-core.xsd" />

	<xs:element name="createPrescription" type="tns:createPrescription" />
	<xs:element name="createPrescriptionParam" type="tns:createPrescriptionParam" />
	<xs:element name="createPrescriptionResponse" type="tns:createPrescriptionResponse" />
	<xs:element name="createPrescriptionResult" type="tns:createPrescriptionResult" />

	<xs:element name="getPrescriptionForPrescriber" type="tns:getPrescriptionForPrescriber" />
	<xs:element name="getPrescriptionForPrescriberParam" type="tns:getPrescriptionForPrescriberParam" />
	<xs:element name="getPrescriptionForPrescriberResponse" type="tns:getPrescriptionForPrescriberResponse" />
	<xs:element name="getPrescriptionForPrescriberResult" type="tns:getPrescriptionForPrescriberResult" />

	<xs:element name="listFeedbacks" type="tns:listFeedbacks" />
	<xs:element name="listFeedbacksParam" type="tns:listFeedbacksParam" />
	<xs:element name="listFeedbacksResponse" type="tns:listFeedbacksResponse" />
	<xs:element name="listFeedbacksResult" type="tns:listFeedbacksResult" />
	<xs:element name="listFeedbackItem" type="tns:listFeedbackItem" />

	<xs:element name="revokePrescription" type="tns:revokePrescription" />
	<xs:element name="revokePrescriptionParam" type="tns:revokePrescriptionParam" />
	<xs:element name="revokePrescriptionResponse" type="tns:revokePrescriptionResponse" />
	<xs:element name="revokePrescriptionResult" type="tns:revokePrescriptionResult" />

	<xs:element name="sendNotification" type="tns:sendNotification" />
	<xs:element name="sendNotificationParam" type="tns:sendNotificationParam" />
	<xs:element name="sendNotificationResponse" type="tns:sendNotificationResponse" />
	<xs:element name="sendNotificationResult" type="tns:sendNotificationResult" />

	<xs:element name="updateFeedbackFlag" type="tns:updateFeedbackFlag" />
	<xs:element name="updateFeedbackFlagParam" type="tns:updateFeedbackFlagParam" />
	<xs:element name="updateFeedbackFlagResponse" type="tns:updateFeedbackFlagResponse" />
	<xs:element name="updateFeedbackFlagResult" type="tns:updateFeedbackFlagResult" />

	<xs:element name="getPrescriptionStatus" type="tns:getPrescriptionStatus" />
	<xs:element name="getPrescriptionStatusParam" type="tns:getPrescriptionStatusParam" />
	<xs:element name="getPrescriptionStatusResponse" type="tns:getPrescriptionStatusResponse" />
	<xs:element name="getPrescriptionStatusResult" type="tns:getPrescriptionStatusResult" />

	<xs:element name="listRidsHistory" type="tns:listRidsHistory" />
	<xs:element name="listRidsHistoryParam" type="tns:listRidsHistoryParam" />
	<xs:element name="listRidsHistoryResponse" type="tns:listRidsHistoryResponse" />
	<xs:element name="listRidsHistoryResult" type="tns:listRidsHistoryResult" />

	<xs:element name="putVision" type="tns:putVision" />
	<xs:element name="putVisionParam" type="tns:putVisionParam" />
	<xs:element name="putVisionResponse" type="tns:putVisionResponse" />
	<xs:element name="putVisionResult" type="tns:putVisionResult" />
	
	<xs:element name="listOpenRids" type="tns:listOpenRids" />
	<xs:element name="listOpenRidsParam" type="tns:listOpenRidsParam" />
	<xs:element name="listOpenRidsResponse" type="tns:listOpenRidsResponse" />
	<xs:element name="listOpenRidsResult" type="tns:listOpenRidsResult" />

	<xs:element name="validationProperties" type="tns:validationProperties" />
	<xs:element name="validationPropertiesParam" type="tns:validationPropertiesParam" />
	<xs:element name="validationPropertiesResponse" type="tns:validationPropertiesResponse" />
	<xs:element name="validationPropertiesResult" type="tns:validationPropertiesResult" />

	<xs:element name="RecipeException" nillable="true" type="core:recipeExceptionDetails" />
	<xs:element name="recipeError" type="core:recipeError" />
	<xs:element name="recipeExceptionDetails" type="core:recipeExceptionDetails" />

	<xs:complexType name="sendNotification">
		<xs:sequence>
			<xs:element name="SendNotificationParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sendNotificationParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="content" type="xs:base64Binary" minOccurs="1" />
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="sendNotificationResponse">
		<xs:sequence>
			<xs:element name="SendNotificationResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sendNotificationResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="revokePrescription">
		<xs:sequence>
			<xs:element name="RevokePrescriptionParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="revokePrescriptionParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="rid" type="xs:string" minOccurs="1" />
					<xs:element name="reason" type="xs:string" minOccurs="1" />
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="revokePrescriptionResponse">
		<xs:sequence>
			<xs:element name="RevokePrescriptionResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="revokePrescriptionResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="updateFeedbackFlag">
		<xs:sequence>
			<xs:element name="UpdateFeedbackFlagParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateFeedbackFlagParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="rid" type="xs:string" minOccurs="1" />
					<xs:element name="allowFeedback" type="xs:boolean" minOccurs="1" />
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="updateFeedbackFlagResponse">
		<xs:sequence>
			<xs:element name="UpdateFeedbackFlagResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="updateFeedbackFlagResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="getPrescriptionStatus">
		<xs:sequence>
			<xs:element name="GetPrescriptionStatusParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionStatusParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
					<xs:element name="rid" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="getPrescriptionStatusResponse">
		<xs:sequence>
			<xs:element name="GetPrescriptionStatusResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionStatusResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence>
					<xs:element name="prescriptionStatus" type="core:prescriptionStatus" minOccurs="0" />
					<xs:element name="executorId" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="listRidsHistory">
		<xs:sequence>
			<xs:element name="ListRidsHistoryParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listRidsHistoryParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
					<xs:element name="activeResults" type="xs:boolean" minOccurs="0" maxOccurs="1" />
					<xs:element name="page" type="core:Page" minOccurs="0" maxOccurs="1" />
					<xs:element name="session" type="xs:base64Binary" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="listRidsHistoryResponse">
		<xs:sequence>
			<xs:element name="ListRidsHistoryResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listRidsHistoryResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence>
					<xs:element name="items" type="tns:listRidsHistoryResultItem" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="hasMoreResults" type="xs:boolean" minOccurs="0" maxOccurs="1" />
					<xs:element name="session" type="xs:base64Binary" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="listRidsHistoryResultItem">
		<xs:sequence>
			<xs:element name="rid" type="xs:string" minOccurs="0" />
			<xs:element name="prescriptionStatus" type="core:prescriptionStatus" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="putVision">
		<xs:sequence>
			<xs:element name="PutVisionParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="putVisionParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
					<xs:element name="rid" type="xs:string" minOccurs="1" />
					<xs:element name="vision" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="putVisionResponse">
		<xs:sequence>
			<xs:element name="PutVisionResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="putVisionResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="listFeedbacks">
		<xs:sequence>
			<xs:element name="ListFeedbacksParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listFeedbacksParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="readFlag" type="xs:boolean" minOccurs="1" />
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="listFeedbacksResponse">
		<xs:sequence>
			<xs:element name="ListFeedbacksResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listFeedbacksResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence>
					<xs:element name="feedbacks" type="tns:listFeedbackItem" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="listFeedbackItem">
		<xs:sequence>
			<xs:element name="rid" type="xs:string" minOccurs="1" />
			<xs:element name="sentBy" type="xs:string" minOccurs="1" />
			<xs:element name="sentDate" type="xs:dateTime" minOccurs="1" />
			<xs:element name="content" type="xs:base64Binary" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="getPrescriptionForPrescriber">
		<xs:sequence>
			<xs:element name="GetPrescriptionForPrescriberParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionForPrescriberParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="rid" type="xs:string" minOccurs="1" />
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="getPrescriptionForPrescriberResponse">
		<xs:sequence>
			<xs:element name="GetPrescriptionForPrescriberResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPrescriptionForPrescriberResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence>
					<xs:element name="creationDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="encryptionKeyId" type="xs:string" minOccurs="0" />
					<xs:element name="feedbackAllowed" type="xs:boolean" />
					<xs:element name="patientId" type="xs:string" minOccurs="0" />
					<xs:element name="prescription" type="xs:base64Binary" minOccurs="0" />
					<xs:element name="rid" type="xs:string" minOccurs="0" />
					<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="listOpenRids">
		<xs:sequence>
			<xs:element name="ListOpenRidsParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listOpenRidsParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
					<xs:element name="page" type="core:Page" minOccurs="0" maxOccurs="1" />
					<xs:element name="session" type="xs:base64Binary" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="listOpenRidsResponse">
		<xs:sequence>
			<xs:element name="ListOpenRidsResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="listOpenRidsResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence>
					<xs:element name="prescriptions" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="hasMoreResults" type="xs:boolean" minOccurs="0" maxOccurs="1" />
					<xs:element name="session" type="xs:base64Binary" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:complexType name="validationProperties">
		<xs:sequence>
			<xs:element name="ValidationPropertiesParamSealed" type="xs:base64Binary" minOccurs="1" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="validationPropertiesParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
					<xs:element name="clientPropertiesVersion" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="validationPropertiesResponse">
		<xs:sequence>
			<xs:element name="ValidationPropertiesResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="validationPropertiesResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence>
					<xs:element name="xsdValidationFiles">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="key" minOccurs="0" type="xs:string" />
											<xs:element name="value" minOccurs="0" type="xs:base64Binary" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="properties">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="key" minOccurs="0" type="xs:string" />
											<xs:element name="value" minOccurs="0" type="xs:string" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="serverPropertiesVersion" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="createPrescription">
		<xs:sequence>
			<xs:element name="CreatePrescriptionParamSealed" type="xs:base64Binary" minOccurs="0" />
			<xs:element name="SecurityToken" type="xs:anyType" minOccurs="0" />
			<xs:element name="PrescriptionType" type="xs:string" minOccurs="0" />
			<xs:element name="DocumentId" type="xs:string" minOccurs="0" />
			<xs:element name="KeyId" type="xs:string" minOccurs="0" />
			<xs:element name="ProgramIdentification" type="xs:string" minOccurs="1" />
			<xs:element name="PrescriptionVersion" type="xs:string" minOccurs="1" />
			<xs:element name="ReferenceSourceVersion" type="xs:string" minOccurs="1" />
			<xs:element name="Mguid" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createPrescriptionParam">
		<xs:complexContent>
			<xs:extension base="core:partyIdentification">
				<xs:sequence>
					<xs:element name="prescription" type="xs:base64Binary" minOccurs="1" />
					<xs:element name="prescriptionType" type="xs:string" minOccurs="1" />
					<xs:element name="feedbackRequested" type="xs:boolean" minOccurs="1" />
					<xs:element name="keyId" type="xs:string" minOccurs="1" />
					<xs:element name="symmKey" type="xs:base64Binary" minOccurs="1" />
					<xs:element name="prescriberLabel" type="xs:string" minOccurs="1" />
					<xs:element name="expirationDate" minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="11" />
								<xs:maxLength value="11" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="vision" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="createPrescriptionResponse">
		<xs:sequence>
			<xs:element name="CreatePrescriptionResultSealed" type="xs:base64Binary" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createPrescriptionResult">
		<xs:complexContent>
			<xs:extension base="core:ResponseType">
				<xs:sequence>
					<xs:element name="rid" type="xs:string" minOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>