compiled/RECIPE.1.8.4/xsd/smc-v2.0.5/single-message/models/single-message-message-model-2.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by yl (accenture) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.apb.be/standards/smoa/schema/model/v1" xmlns:smoa="http://www.apb.be/standards/smoa/schema/v1" xmlns:code="http://www.apb.be/standards/smoa/schema/code/v1" xmlns:id="http://www.apb.be/standards/smoa/schema/id/v1" targetNamespace="http://www.apb.be/standards/smoa/schema/model/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="http://www.apb.be/standards/smoa/schema/v1" schemaLocation="../common/single-message-common-2.0.2.xsd"/>
	<xsd:import namespace="http://www.apb.be/standards/smoa/schema/id/v1" schemaLocation="single-message-id-type-1.0.xsd"/>
	<xsd:import namespace="http://www.apb.be/standards/smoa/schema/code/v1" schemaLocation="single-message-code-type-1.0.xsd"/>
	<xsd:include schemaLocation="single-message-magistral-preparation-2.0.xsd"/>
	<xsd:include schemaLocation="single-message-medication-scheme-1.0.xsd"/>
	<xsd:include schemaLocation="single-message-abstract-message-model-1.0.xsd"/>
	<xsd:group name="personName">
		<xsd:sequence>
			<xsd:element name="name" type="smoa:PersonFirstNameType" maxOccurs="unbounded"/>
			<xsd:element name="familyName" type="smoa:PersonNameType"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="contactInformation">
		<xsd:sequence>
			<xsd:element name="address" type="AbstractAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="telecom" type="AbstractTelecomType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="min-Patient" type="MinSetPatient" substitutionGroup="abstract-Patient"/>
	<xsd:complexType name="MinSetPatient">
		<xsd:complexContent>
			<xsd:extension base="AbstractPatientType">
				<xsd:sequence>
					<xsd:element name="personId" type="id:Abstract-PersonIdType"/>
					<xsd:group ref="personName"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="max-Patient" type="MaxSetPatient" substitutionGroup="abstract-Patient"/>
	<xsd:complexType name="MaxSetPatient">
		<xsd:complexContent>
			<xsd:extension base="AbstractPatientType">
				<xsd:sequence>
					<xsd:element ref="identification"/>
					<xsd:element name="contact" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:group ref="contactInformation"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="entourage" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="contactPerson" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="careProviders" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="hcparty" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="physiology" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="condition" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="female" minOccurs="0">
												<!-- no restriction in XSD possible to only have this element when patient is female -->
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="pregnant" minOccurs="0">
															<!-- TODO make this top level? -->
															<xsd:complexType>
																<xsd:attribute name="deliveryDate" type="xsd:date" use="optional"/>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="nursing" type="xsd:boolean" minOccurs="0"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="chronicPathologies" minOccurs="0">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="disease" type="GenericExternalReference" minOccurs="0" maxOccurs="unbounded"/>
											<xsd:element name="allergy" type="GenericExternalReference" minOccurs="0" maxOccurs="unbounded"/>
											<xsd:element name="homeOxygenTherapy" minOccurs="0" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="type" type="smoa:OxygenTherapies"/>
														<xsd:element name="start" type="xsd:date"/>
														<xsd:element name="end" type="xsd:date" minOccurs="0"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GenericExternalReference">
		<xsd:sequence>
			<xsd:element name="serviceOid" type="xsd:string"/>
			<xsd:element name="version" type="xsd:string"/>
			<xsd:element name="reference" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="identification" type="MaxSetPersonType" substitutionGroup="abstract-Person"/>
	<xsd:complexType name="MaxSetPersonType">
		<xsd:complexContent>
			<xsd:extension base="AbstractPersonType">
				<xsd:sequence>
					<xsd:element name="personId" type="id:Abstract-PersonIdType"/>
					<xsd:group ref="personName"/>
					<xsd:element name="sex" type="smoa:CD-SEX" minOccurs="0"/>
					<!-- complex alternative available -->
					<xsd:element name="birthDate" type="xsd:date" minOccurs="0"/>
					<xsd:element name="usuallanguage" type="xsd:language" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EuropeanAddressType">
		<xsd:complexContent>
			<xsd:extension base="AbstractAddressType">
				<xsd:sequence>
					<xsd:element name="country" type="smoa:CD-COUNTRY" minOccurs="0"/>
					<!-- complex alternative available -->
					<xsd:element name="zip" type="xsd:string"/>
					<xsd:element name="city" type="xsd:string" minOccurs="0"/>
					<xsd:element name="street" type="xsd:string"/>
					<xsd:element name="housenumber" type="xsd:string"/>
					<xsd:element name="postboxnumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="lastChanged" type="xsd:dateTime" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="usage" type="smoa:CD-ADDRESS" use="required"/>
			</xsd:extension>
			<!-- complex alternative available -->
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GenericTelecomType">
		<xsd:complexContent>
			<xsd:extension base="AbstractTelecomType">
				<xsd:sequence>
					<xsd:element name="kind" type="code:TelecomKindCodeType"/>
					<!-- complex alternative available -->
					<xsd:element name="value" type="xsd:string"/>
					<xsd:element name="lastChanged" type="xsd:dateTime" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="contactPerson" type="MaxSetContactPersonType"/>
	<xsd:complexType name="MaxSetContactPersonType">
		<xsd:complexContent>
			<xsd:extension base="AbstractPersonType">
				<xsd:sequence>
					<xsd:group ref="personName"/>
					<xsd:choice minOccurs="0">
						<xsd:element name="relationshipType" type="smoa:CD-CONTACT-PERSON"/>
						<xsd:element name="relationshipDescription" type="xsd:string"/>
					</xsd:choice>
					<xsd:element name="telecom" type="AbstractTelecomType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="hcparty" type="MaxSetCareProviderType" substitutionGroup="abstract-CareProvider"/>
	<xsd:complexType name="MaxSetCareProviderType">
		<xsd:complexContent>
			<xsd:extension base="AbstractCareProviderType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-CareProviderIdType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="type" type="smoa:CD-HCPARTY" maxOccurs="unbounded"/>
					<xsd:group ref="personName" minOccurs="0"/>
					<xsd:group ref="contactInformation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="medicationHistoryEntity" type="medicationHistoryType" substitutionGroup="abstract-DeliveredMedication"/>
	<xsd:complexType name="medicationHistoryType">
		<xsd:complexContent>
			<xsd:extension base="AbstractDeliveredMedicationHumanHistoryType">
				<xsd:sequence>
					<!-- TODO if dguid is entity ID, it cannot be part of product, but max dataset still needs it -->
					<xsd:element name="sessionID" type="smoa:UuidType"/>
					<xsd:element name="deliveryDate" type="xsd:dateTime"/>
					<xsd:element name="pharmacyId" type="id:NihiiIdType" minOccurs="0"/>
					<xsd:element ref="min-Patient"/>
					<xsd:choice>
						<xsd:element name="encryptedContent" type="EncryptedContentType"/>
						<xsd:element name="product" type="HistoryProductType"/>
					</xsd:choice>
					<xsd:element name="metaDataList" type="smoa:MetaDataListType" minOccurs="0"/>
					<xsd:element name="tipQualityIndicator" type="xsd:int"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Previous min/max data sets -->
	<xsd:element name="deliveredMedicationHuman" type="DeliveredMedicationHumanType" substitutionGroup="abstract-DeliveredMedication"/>
	<xsd:complexType name="DeliveredMedicationHumanType">
		<xsd:complexContent>
			<xsd:extension base="AbstractDeliveredMedicationHumanType">
				<xsd:sequence>
					<xsd:group ref="DeliveredMedicationGroup"/>
					<xsd:element name="delayedDelivery" type="xsd:boolean"/>
					<xsd:element name="delayedRequestDate" type="xsd:date"/>
					<xsd:element ref="abstract-HumanPrescription"/>
					<xsd:element name="metaDataList" type="smoa:MetaDataListType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- end previous min/max data sets -->
	<xsd:complexType name="PharmaceuticalInformationType">
		<xsd:sequence>
			<xsd:element name="deliveryDate" type="xsd:dateTime"/>
			<xsd:choice>
				<xsd:element name="encryptedContent" type="EncryptedContentType"/>
				<xsd:element name="product" type="MinSetProductType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EncryptedContentType">
		<xsd:sequence>
			<xsd:element name="product" type="xsd:base64Binary"/>
			<xsd:element name="encryptionKeyId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EncryptedDataType">
		<xsd:sequence>
			<xsd:element name="data" type="xsd:base64Binary"/>
			<xsd:element name="encryptionKeyId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MinSetProductType">
		<xsd:sequence>
			<xsd:element name="description">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="productCode" type="id:Abstract-MedicinalProductIdType"/>
						<xsd:element name="magistralPreparation" type="MagistralPreparationType"/>
						<xsd:element name="unregisteredProduct" type="xsd:string"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dispensation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numberOfUnits" type="xsd:int" minOccurs="0"/>
						<xsd:element name="administrationInstructions" type="AdministrationType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MaxSetProductType">
		<xsd:complexContent>
			<xsd:extension base="MinSetProductType">
				<xsd:sequence>
					<xsd:element name="pharmaceuticalCare" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="productInformation" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="infoFirstDispensation" type="xsd:boolean"/>
											<xsd:element name="brochure" type="xsd:string" minOccurs="0"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="drugRelatedProblem" type="DrugRelatedProblemType" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="localReference" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dispensationGUID" type="smoa:UuidType"/>
					<xsd:element name="motivation" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="type" type="xsd:string"/>
								<xsd:element name="freeText" type="xsd:string" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DrugRelatedProblemType">
		<xsd:sequence>
			<xsd:element name="cause" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<!-- TODO codify? -->
			<xsd:element name="intervention" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<!-- TODO codify? -->
			<xsd:element name="result" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<!-- TODO codify? -->
		</xsd:sequence>
	</xsd:complexType>
	<!-- STATUS message -->
	<xsd:element name="statusMessage" type="StatusMessageType" substitutionGroup="abstract-StatusMessage"/>
	<xsd:complexType name="StatusMessageType">
		<xsd:complexContent>
			<xsd:extension base="AbstractStatusMessageType">
				<xsd:sequence>
					<xsd:element name="originator" type="OriginatorType" minOccurs="1"/>
					<xsd:element name="target" type="TargetType" minOccurs="1"/>
					<xsd:element name="subjectReference" type="SubjectReferenceType" minOccurs="0"/>
					<xsd:element name="messageInformation" type="MessageInformation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OriginatorType">
		<xsd:sequence>
			<xsd:element name="OriginatorType" type="xsd:token" minOccurs="1"/>
			<xsd:element name="OriginatorId" type="xsd:token" minOccurs="1"/>
			<xsd:element name="ServiceType" type="xsd:token" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TargetType">
		<xsd:sequence>
			<xsd:element name="TargetType" type="xsd:token" minOccurs="1"/>
			<xsd:element name="TargetId" type="xsd:token" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubjectReferenceType">
		<xsd:sequence>
			<xsd:element name="MessageGUID" type="smoa:UuidType" minOccurs="1"/>
			<xsd:element name="SessionGUID" type="smoa:UuidType" minOccurs="0"/>
			<xsd:element name="DispensationGUID" type="smoa:UuidType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageInformation">
		<xsd:sequence>
			<xsd:element name="DateTime" type="xsd:dateTime"/>
			<xsd:element name="MessageType" type="smoa:MessageType"/>
			<xsd:element name="MessageSubType" type="xsd:string"/>
			<xsd:element name="MessageText" type="smoa:TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MessageDetails" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- END STATUS message -->
	<xsd:element name="dataLocation" type="DataLocationType" substitutionGroup="abstract-DataLocation"/>
	<xsd:complexType name="DataLocationType">
		<xsd:complexContent>
			<xsd:extension base="AbstractDataLocationType">
				<xsd:sequence>
					<xsd:element ref="abstract-Patient" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="location" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="system" type="xsd:token" minOccurs="1" maxOccurs="1"/>
								<xsd:element name="careDataType" type="xsd:token" minOccurs="1" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- AbstractAttestType -->
	<xsd:element name="attest" type="AttestType" substitutionGroup="abstract-Attest"/>
	<xsd:complexType name="AttestType">
		<xsd:complexContent>
			<xsd:extension base="AbstractAttestType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-AttestIdType"/>
					<xsd:element name="description" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Magistral Certificate -->
	<xsd:element name="magistralCertificate" type="MagistralCertificateType" substitutionGroup="abstract-MagistralCertificate"/>
	<xsd:complexType name="MagistralCertificateType">
		<xsd:complexContent>
			<xsd:extension base="AbstractMagistralCertificateType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-MagistralCertificateIdType"/>
					<xsd:element name="description" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Incoming Medication -->
	<xsd:element name="incomingMedication" type="IncomingMedicationType" substitutionGroup="abstract-IncomingMedication"/>
	<xsd:complexType name="IncomingMedicationType">
		<xsd:complexContent>
			<xsd:extension base="AbstractIncomingMedicationType">
				<xsd:sequence>
					<xsd:element ref="abstract-MedicinalProduct"/>
					<xsd:element name="quantity" type="xsd:int"/>
					<xsd:element name="incomingDate" type="xsd:date"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Medication Consumer -->
	<xsd:element name="medicationConsumerPatient" type="MedicationConsumerPatientType" substitutionGroup="abstract-MedicationConsumer"/>
	<xsd:complexType name="MedicationConsumerPatientType">
		<xsd:complexContent>
			<xsd:extension base="AbstractMedicationConsumerPatientType">
				<xsd:sequence>
					<xsd:element ref="abstract-Person"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="medicationConsumerAnimalOwner" type="MedicationConsumerAnimalOwnerType" substitutionGroup="abstract-MedicationConsumer"/>
	<xsd:complexType name="MedicationConsumerAnimalOwnerType">
		<xsd:complexContent>
			<xsd:extension base="AbstractMedicationConsumerAnimalOwnerType">
				<xsd:sequence>
					<xsd:element ref="abstract-Person"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="medicationConsumerUrgentieTrousse" type="MedicationConsumerUrgentieTrousseType" substitutionGroup="abstract-MedicationConsumer"/>
	<xsd:complexType name="MedicationConsumerUrgentieTrousseType">
		<xsd:complexContent>
			<xsd:extension base="AbstractMedicationConsumerUrgentieTrousseType">
				<xsd:sequence>
					<xsd:element ref="abstract-CareProvider"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="medicationConsumerPatientGroup" type="MedicationConsumerPatientGroupType" substitutionGroup="abstract-MedicationConsumer"/>
	<xsd:complexType name="MedicationConsumerPatientGroupType">
		<xsd:complexContent>
			<xsd:extension base="AbstractMedicationConsumerPatientGroupType">
				<xsd:sequence>
					<xsd:element ref="abstract-CareProvider"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ActiveSubstanceQuantityType">
		<xsd:sequence>
			<xsd:element name="quantity" type="xsd:int"/>
			<xsd:element name="unit" type="smoa:ActiveSubstanceUnitType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PreparationSubstanceType">
		<xsd:sequence>
			<xsd:element ref="abstract-RawMaterial"/>
			<xsd:element name="dose" type="smoa:QuantityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="DeliveredMedicationGroup">
		<xsd:sequence>
			<xsd:element name="dGUID" type="smoa:UuidType"/>
			<xsd:element name="deliveryDate" type="xsd:dateTime"/>
			<xsd:element name="quantity" type="xsd:int"/>
			<xsd:element name="lotNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uniqueBarcode" type="smoa:MedicinalProductUniqueBarcodeType" minOccurs="0"/>
			<xsd:element ref="abstract-CareProvider"/>
			<xsd:element ref="abstract-MedicationConsumer"/>
			<xsd:choice>
				<xsd:element ref="abstract-MedicinalProduct"/>
				<xsd:element name="magistral" type="MagistralType"/>
			</xsd:choice>
			<xsd:element ref="abstract-Attest" minOccurs="0"/>
			<xsd:element name="narcotic" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="psychotrope" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="hypnotic" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="MagistralType">
		<xsd:sequence>
			<xsd:element ref="abstract-Preparation"/>
			<xsd:element ref="abstract-MagistralCertificate" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="deliveredMedicationVeterinair" type="DeliveredMedicationVeterinairType" substitutionGroup="abstract-DeliveredMedication"/>
	<xsd:complexType name="DeliveredMedicationVeterinairType">
		<xsd:complexContent>
			<xsd:extension base="AbstractDeliveredMedicationVeterinairType">
				<xsd:sequence>
					<xsd:group ref="DeliveredMedicationGroup"/>
					<xsd:element ref="abstract-VeterinaryPrescription"/>
					<xsd:element name="authorizedForOtherSpecies" type="xsd:boolean"/>
					<xsd:element name="authorizedForOtherCondition" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Other person representation -->
	<xsd:element name="person" type="PersonType" substitutionGroup="abstract-Person"/>
	<xsd:complexType name="PersonType">
		<xsd:complexContent>
			<xsd:extension base="AbstractPersonType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-PersonIdType"/>
					<xsd:element name="firstNames">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="firstName" type="smoa:PersonFirstNameType" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="familyName" type="smoa:PersonNameType"/>
					<xsd:element name="birthDate" type="xsd:date" minOccurs="0"/>
					<!-- <xsd:element name="birthlocation" type="code:Abstract-CityCodeType" minOccurs="0" /> -->
					<xsd:element name="deathdate" type="xsd:date" minOccurs="0"/>
					<!-- <xsd:element name="deathlocation" type="code:Abstract-CityCodeType" minOccurs="0" /> -->
					<xsd:element name="sex" type="code:Abstract-SexCodeType"/>
					<xsd:element name="nationality" type="code:Abstract-CountryCodeType" minOccurs="0"/>
					<xsd:group ref="contactInformation"/>
					<xsd:element name="usuallanguage" type="xsd:language" minOccurs="0"/>
					<xsd:element name="profession" type="code:Abstract-ProfessionCodeType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- end older person representation -->
	<!-- Medicinal Product -->
	<xsd:element name="medicinalProduct" type="MedicinalProduct" substitutionGroup="abstract-MedicinalProduct"/>
	<xsd:complexType name="MedicinalProduct">
		<xsd:annotation>
			<xsd:documentation>
				Hoofdbron: http://www.fagg-afmps.be/nl/binaries/HUM-2011%2E01%2E26_tcm290-27043.zip
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractMedicinalProductType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-MedicinalProductIdType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Voorbeeld voor als "CnkIdType" identificatie systeem gebruikt wordt.
								CNK code: 127928
								Andere codificatie systemen buiten Cnk kunnen gebruikt worden
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="productName" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Naam van het geneesmiddel, die een fantasienaam kan zijn of de naam
								van het actief bestanddeel vergezeld van een merk of van de naam van
								de vergunningshouder. Deze naam kan vergezeld zijn van de dosering aan
								actief(ve) bestandde(e)l(en).
								voorbeeld: LANOXIN 60 TABL 0,125 MG
								voorbeeld: DAFALGAN FORTE 1 g bruistabletten
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="disease" type="code:Abstract-DiseaseCodeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								voorbeeld: Pijnstillers,Sinusutus, Allergische Neusverkoudheid
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="category" type="code:Abstract-MedicinalProductCategoryCodeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								voorbeeld: H1-antihistaminica, Vasoconstrictoren
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="activeSubstance" type="code:Abstract-ActiveSubstanceCodeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								voorbeeld: PARACETAMOL
								voorbeeld: BETAXOLOL HYDROCHLORIDE
								voorbeeld: CALCIUM CHLORIDE (DIHYDRATE)
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="activeSubstanceQuantity" type="ActiveSubstanceQuantityType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								De dosis
								voorbeeld 1000 mg
								voorbeeld: 9.00 MG/ML
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="licenseOwner" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								voorbeeld: M.R. PHARMA GMBH, GRUNENTHAL N.V., JANSSEN-CILAG N.V.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="licenseNumber" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								voorbeeld: BE000174, 0616S 0324F011,
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="pharmForm" type="code:Abstract-PharmFormCodeType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								galenische vorm
								drug presentation
								voorbeeld: Solution for injection; Capsule hard
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serialNumber" type="smoa:MedicinalProductSerialNumberType" minOccurs="0"/>
					<xsd:element name="uniqueBarcode" type="smoa:MedicinalProductUniqueBarcodeType" minOccurs="0"/>
					<xsd:element name="batch" type="xsd:string" minOccurs="0"/>
					<xsd:element name="isSubstitutionAllowed" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="nationalLicensedMedicine" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								http://www.fagg-afmps.be/nl/items/gegevensbank_vergunde_geneesmiddelen/index.jsp
								Nationaal vergunde geneesmiddelen
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="emeaRegisteredMedicine" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								http://www.fagg-afmps.be/nl/items/gegevensbank_vergunde_geneesmiddelen/index.jsp
								Door de Europese Commissie geregistreerde geneesmiddelen
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="narcotic" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="psychotrope" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="hypnotic" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="adUsVetOnly" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Raw Material -->
	<xsd:element name="rawMaterial" type="RawMaterialType" substitutionGroup="abstract-RawMaterial"/>
	<xsd:complexType name="RawMaterialType">
		<xsd:annotation>
			<xsd:documentation>
				Document: Lijst-vergunde-grondstoffen.pdf
				Lijst van de vergunde grondstoffen, in toepassing van art. 3, ยง2 van het K.B.
				van 19/12/1997, betreffende de controle en de
				analyse van de grondstoffen die door de officina-apothekers gebruikt worden
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractRawMaterialType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-RawMaterialIdType">
						<xsd:annotation>
							<xsd:documentation>
								example: 1648R03949
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								example: ARGENTI NITRAS
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="firm" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								example: CERTA
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="analyticalReference" type="xsd:string"/>
					<!-- Ph.Eur -->
					<xsd:element name="packaging" type="xsd:string"/>
					<!-- 10 g (Ce, Fag) -->
					<xsd:element name="authorizationNumber" type="xsd:string"/>
					<!-- 954IR03091 -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Substance Product -->
	<xsd:element name="substanceProduct" type="SubstanceProductType" substitutionGroup="abstract-SubstanceProduct"/>
	<xsd:complexType name="SubstanceProductType">
		<xsd:annotation>
			<xsd:documentation>Wordt gebruikt in Voorschift op Stofnaam (vos); Bron: Vos_Demo_MARCH_2010__NL.pdf</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractSubstanceProductType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-SubstanceProductIdType" minOccurs="0"/>
					<xsd:element name="substance" type="xsd:string"/>
					<!-- e.g. Isosorbidedinitraat -->
					<xsd:element name="substancePackaging" type="xsd:string"/>
					<!-- e.g. Isosorbidedinitraat 10 mg (oraal) -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Preparation -->
	<xsd:element name="preparation" type="PreparationType" substitutionGroup="abstract-Preparation"/>
	<xsd:complexType name="PreparationType">
		<xsd:annotation>
			<xsd:documentation>Magistrale and Officinale Bereiding</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractPreparationType">
				<xsd:sequence>
					<xsd:element name="substance" type="PreparationSubstanceType" maxOccurs="unbounded"/>
					<xsd:element name="quantity" type="smoa:QuantityType"/>
					<xsd:element name="pharmForm" type="code:Abstract-PharmFormCodeType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Prescriptions -->
	<xsd:element name="veterinaryPrescription" type="VeterinaryPrescriptionType" substitutionGroup="abstract-VeterinaryPrescription"/>
	<xsd:complexType name="VeterinaryPrescriptionType">
		<xsd:complexContent>
			<xsd:extension base="AbstractVeterinaryPrescriptionType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-PrescriptionIdType"/>
					<xsd:element name="responsible">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="abstract-Person"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="abstract-CareProvider"/>
					<xsd:element name="orderNumber" type="xsd:string"/>
					<xsd:element name="recipeLines" type="recipeLinesComplexType" minOccurs="0"/>
					<xsd:element ref="kmehrPrescription" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="patientPrescription" type="PatientPrescriptionType" substitutionGroup="abstract-HumanPrescription"/>
	<xsd:complexType name="PatientPrescriptionType">
		<xsd:complexContent>
			<xsd:extension base="AbstractPatientPrescriptionType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-PrescriptionIdType"/>
					<xsd:element ref="abstract-Patient"/>
					<xsd:element name="child" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="baby" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="prescriptionDate" type="xsd:date"/>
					<xsd:element name="executableFrom" type="xsd:date" minOccurs="0"/>
					<xsd:element name="executableUntil" type="xsd:date" minOccurs="0"/>
					<xsd:element ref="abstract-CareProvider"/>
					<xsd:element name="recipeLines" type="recipeLinesComplexType" minOccurs="0"/>
					<xsd:element ref="kmehrPrescription" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="specialPrescription" type="SpecialPrescriptionType" substitutionGroup="abstract-HumanPrescription"/>
	<xsd:complexType name="SpecialPrescriptionType">
		<xsd:annotation>
			<xsd:documentation>UrgencyTrousse,CentrumForToxicomanen,PrinsLeopoldInstituut,Commune,PatientsGroup,Penitentiary,CenterForAsylumSeekers,VaccinationCampaigns</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractSpecialPrescriptionType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-PrescriptionIdType"/>
					<xsd:element ref="abstract-CareProvider"/>
					<xsd:element name="type" type="code:Abstract-SpecialPrescriptionCodeType"/>
					<xsd:element ref="abstract-Attest"/>
					<xsd:element name="description" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="deferredPrescription" type="deferredPrescriptionType" substitutionGroup="abstract-HumanPrescription"/>
	<xsd:complexType name="deferredPrescriptionType">
		<xsd:complexContent>
			<xsd:extension base="AbstractDeferredPrescriptionType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-PrescriptionIdType"/>
					<xsd:element name="recipeLines" type="recipeLinesComplexType" minOccurs="0"/>
					<xsd:element name="originalPrescription">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="abstract-Prescription"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="kmehrPrescription" type="KmehrPrescriptionType" substitutionGroup="abstract-Prescription"/>
	<xsd:complexType name="KmehrPrescriptionType">
		<xsd:complexContent>
			<xsd:extension base="AbstractPrescriptionType">
				<xsd:sequence>
					<xsd:element name="id" type="id:Abstract-PrescriptionIdType"/>
					<xsd:any minOccurs="0"/> <!--kmehrPrescription-->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Recipe Line -->
	<xsd:element name="recipeLine" type="RecipeLineType" substitutionGroup="abstract-RecipeLine"/>
	<xsd:complexType name="RecipeLineType">
		<xsd:complexContent>
			<xsd:extension base="AbstractRecipeLineType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element ref="abstract-MedicinalProduct"/>
						<xsd:element ref="abstract-Preparation"/>
						<xsd:element ref="abstract-SubstanceProduct"/>
					</xsd:choice>
					<xsd:choice>
						<xsd:element name="packagingSize" type="xsd:int"/>
						<xsd:element name="therapyDuration" type="xsd:string"/>
					</xsd:choice>
					<xsd:element ref="abstract-Posology"/>
					<xsd:element ref="abstract-Regimen"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="recipeLinesComplexType">
		<xsd:sequence>
			<xsd:element ref="abstract-RecipeLine" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Reference Pharmacy -->
	<xsd:element name="refPharmacy" type="ReferencePharmacyType" substitutionGroup="abstract-Pharmacy"/>
	<xsd:complexType name="ReferencePharmacyType">
		<xsd:complexContent>
			<xsd:extension base="AbstractPharmacyType">
				<xsd:sequence>
					<xsd:element name="pharmacyId" type="id:Abstract-PharmacyIdType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Reference Care Service -->
	<xsd:element name="refCareService" type="ReferenceCareServiceType" substitutionGroup="abstract-CareService"/>
	<xsd:complexType name="ReferenceCareServiceType">
		<xsd:complexContent>
			<xsd:extension base="AbstractCareServiceType">
				<xsd:sequence>
					<xsd:element name="careServiceId" type="id:Abstract-CareServiceIdType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Reference Person  -->
	<xsd:element name="refPerson" type="ReferencePersonType" substitutionGroup="abstract-Person"/>
	<xsd:complexType name="ReferencePersonType">
		<xsd:complexContent>
			<xsd:extension base="AbstractPersonType">
				<xsd:sequence>
					<xsd:element name="personId" type="id:Abstract-PersonIdType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Reference Medicinal Product -->
	<xsd:element name="refMedicinalProduct" type="ReferenceMedicinalProductType" substitutionGroup="abstract-MedicinalProduct"/>
	<xsd:complexType name="ReferenceMedicinalProductType">
		<xsd:complexContent>
			<xsd:extension base="AbstractMedicinalProductType">
				<xsd:sequence>
					<xsd:element name="medicinalProductId" type="id:Abstract-MedicinalProductIdType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Reference Prescription -->
	<xsd:element name="refPrescription" type="ReferencePrescriptionType" substitutionGroup="abstract-Prescription"/>
	<xsd:complexType name="ReferencePrescriptionType">
		<xsd:complexContent>
			<xsd:extension base="AbstractPrescriptionType">
				<xsd:sequence>
					<xsd:element name="prescriptionId" type="id:Abstract-PrescriptionIdType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Reference Attest -->
	<xsd:element name="refAttest" type="ReferenceAttestType" substitutionGroup="abstract-Attest"/>
	<xsd:complexType name="ReferenceAttestType">
		<xsd:complexContent>
			<xsd:extension base="AbstractAttestType">
				<xsd:sequence>
					<xsd:element name="attestId" type="id:Abstract-AttestIdType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Reference Magistral Certificate -->
	<xsd:element name="refMagistralCertificate" type="AbstractMagistralCertificateType" substitutionGroup="abstract-MagistralCertificate"/>
	<xsd:complexType name="ReferenceMagistralCertificateType">
		<xsd:complexContent>
			<xsd:extension base="AbstractMagistralCertificateType">
				<xsd:sequence>
					<xsd:element name="magistralCertificateId" type="id:Abstract-MagistralCertificateIdType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HistoryProductType">
		<xsd:complexContent>
			<xsd:extension base="MinSetProductType">
				<xsd:attribute name="prescribed" type="xsd:boolean" use="required"/>
				<xsd:attribute name="onSubstanceName" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PharmacyList">
		<xsd:sequence>
			<xsd:element name="pharmacy" type="Pharmacy" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Pharmacy">
		<xsd:sequence>
			<xsd:element name="identification" type="Identification"/>
			<xsd:element name="identity" type="Identity"/>
			<xsd:element name="bvacList" type="BvacList"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Identification">
		<xsd:sequence>
			<xsd:element name="id" type="smoa:PharmacyIdType"/>
			<xsd:element name="financialSeqCode" type="smoa:FinancialSeqCodeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Identity">
		<xsd:sequence>
			<xsd:element name="name" type="smoa:PharmacyNameType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BvacList">
		<xsd:sequence>
			<xsd:element name="bvacDocument" type="BvacDocument" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BvacDocument">
		<xsd:sequence>
			<xsd:element name="identification" type="IdentificationBvacDocument"/>
			<xsd:element name="currency" type="smoa:CurrencyType" default="EUR"/>
			<xsd:element name="deliveryDate" type="xsd:date"/>
			<xsd:element name="patient" type="BvacPatient"/>
			<xsd:element name="doctor" type="BvacDoctor"/>
			<xsd:element name="productList" type="ProductList"/>
			<xsd:element name="totalAmounts" type="TotalAmounts"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentificationBvacDocument">
		<xsd:sequence>
			<xsd:element name="id" type="smoa:BvacDocumentIdType"/>
			<xsd:element name="InternalReference" type="smoa:BvacInternalReference" minOccurs="0"/>
			<xsd:element name="barCode" type="BarCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BarCode">
		<xsd:sequence>
			<xsd:element name="insurer" type="smoa:CBFAIdType"/>
			<xsd:element name="key1" type="smoa:Clef1Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BvacPatient">
		<xsd:sequence>
			<xsd:element name="identification" type="IdentificationBvacPatient" minOccurs="0"/>
			<xsd:element name="identity" type="IdentityBvac"/>
			<xsd:element name="birthDate" type="xsd:date" default="0001-01-01" minOccurs="0"/>
			<xsd:element name="nhiData" type="NhiData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentificationBvacPatient">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentityBvac">
		<xsd:sequence>
			<xsd:element name="name">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="firstName">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NhiData">
		<xsd:sequence>
			<xsd:element name="identification" type="IdentificationBvacNhid" minOccurs="0"/>
			<xsd:element name="insuredStatus" type="InsuredStatus" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentificationBvacNhid">
		<xsd:sequence>
			<xsd:element name="nhiId" type="smoa:NhiIdType" default="000" minOccurs="0"/>
			<xsd:element name="id" type="smoa:PatienIdMutuality" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsuredStatus">
		<xsd:sequence>
			<xsd:element name="cg1" type="smoa:CodeStatusMutuality" default="000" minOccurs="0"/>
			<xsd:element name="cg2" type="smoa:CodeStatusMutuality" default="000" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BvacDoctor">
		<xsd:sequence>
			<xsd:element name="identification" type="IdentificationBvacDoctor"/>
			<xsd:element name="identity" type="IdentityBvac"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentificationBvacDoctor">
		<xsd:sequence>
			<xsd:element name="inamiNumber" type="smoa:RizivInamiType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductList">
		<xsd:sequence>
			<xsd:element name="product" type="productBvac" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="productBvac">
		<xsd:sequence>
			<xsd:element name="identification" type="IdentificationBvacProduct"/>
			<xsd:element name="description" type="DescriptionBvacProduct"/>
			<xsd:element name="prescriptionDate" type="xsd:date" default="0001-01-01" minOccurs="0"/>
			<xsd:element name="quantity" type="smoa:QuantityBvacType"/>
			<xsd:element name="amounts" type="AmountsBvacProduct"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentificationBvacProduct">
		<xsd:sequence>
			<xsd:element name="productTypeId" type="smoa:BvacProductIdEnumType"/>
			<xsd:element name="id" type="smoa:BvacProductIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DescriptionBvacProduct">
		<xsd:sequence>
			<xsd:element name="fullDescription" type="smoa:BvacFullDescriptionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AmountsBvacProduct">
		<xsd:sequence>
			<xsd:element name="publicPrice">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[\-+]?[0-9]{1,12}[.][0-9]{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="paidPrice">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[\-+]?[0-9]{1,12}[.][0-9]{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TotalAmounts">
		<xsd:sequence>
			<xsd:element name="totalPublicPrice">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[\-+]?[0-9]{1,12}[.][0-9]{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="totalPaidPrice">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[\-+]?[0-9]{1,12}[.][0-9]{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="totalHomeopathie" default="0.00">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[\-+]?[0-9]{1,12}[.][0-9]{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
