decompiled/4.0.2/niccin-mycarenet-chapteriv/XSD/MCN-ChapIV-ConsultMedicalAdvisorAgreement-v1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<schema xmlns:tns="urn:be:cin:mycarenet:esb:medicalAdvisorAgreement:chap4:consult:v1" xmlns:common="urn:be:cin:mycarenet:esb:common:v2" xmlns:types="urn:be:cin:types:v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="urn:be:cin:mycarenet:esb:medicalAdvisorAgreement:chap4:consult:v1" xmlns="http://www.w3.org/2001/XMLSchema">
    <import schemaLocation="commonTypes-v1.xsd" namespace="urn:be:cin:types:v1" />
    <import schemaLocation="commonInfo-v2.xsd" namespace="urn:be:cin:mycarenet:esb:common:v2" />
    <element name="ConsultChap4MedicalAdvisorAgreementRequest" type="tns:ConsultChap4MedicalAdvisorAgreementRequestType" />
    <element name="ConsultChap4MedicalAdvisorAgreementResponse" type="tns:ConsultChap4MedicalAdvisorAgreementResponseType" />
    <complexType name="ConsultChap4MedicalAdvisorAgreementRequestType">
        <sequence>
            <element name="CommonInput" type="common:CommonInputType" />
            <element name="RecordCommonInput" type="common:RecordCommonInputType" />
            <element name="CareReceiver" type="types:CareReceiverIdType" />
            <element name="Request" type="tns:RequestType" />
        </sequence>
    </complexType>
    <complexType name="RequestType">
        <sequence>
            <element name="EncryptedContent" type="base64Binary" />
        </sequence>
    </complexType>
    <complexType name="ConsultChap4MedicalAdvisorAgreementResponseType">
        <sequence>
            <element name="CommonOutput" type="common:CommonOutputType" />
            <element name="RecordCommonOutput" type="common:RecordCommonOutputType" />
            <element xmlns:q1="urn:be:cin:types:v1" name="ReturnInfo" type="q1:FaultType" minOccurs="0" />
            <element name="Response" type="tns:ResponseType" minOccurs="0" />
        </sequence>
    </complexType>
    <complexType name="ResponseType">
        <sequence>
            <element name="SealedContent" type="base64Binary" />
        </sequence>
    </complexType>
</schema>
