compiled/RECIPE.1.8.1/META-INF/ehealth-recipe-commons/XSD/ehealth-recipe-core-3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) eHealth -->
<xs:schema targetNamespace="urn:be:fgov:ehealth:recipe:core:v3" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:be:fgov:ehealth:recipe:core:v3" xmlns:core="urn:be:fgov:ehealth:commons:core:v1">
 <xs:annotation xmlns:xs='http://www.w3.org/2001/XMLSchema' >
 <xs:appinfo>
 Implementation-Title: XSD Commons Recipe
 Specification-Version: 3.0
 Implementation-Version: 3.0.0
 Build-Time: 20150619-1049 
 </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="urn:be:fgov:ehealth:commons:core:v1" schemaLocation="../../ehealth-commons/XSD/ehealth-commons-schema-core-1_7.xsd" />
  <!-- Recipe services types -->
  <xs:complexType name="SecuredContentType">
    <xs:sequence>
      <xs:element name="SecuredContent" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreatePrescriptionAdministrativeInformationType">
    <xs:complexContent>
      <xs:extension base="PrescriberServiceAdministrativeInformationType">
        <xs:sequence>
          <!-- NIHII11 prescriber -->
          <xs:element name="PrescriberIdentifier" type="core:IdentifierType" />
          <!-- Two-letter code -->
          <xs:element name="PrescriptionType" type="xs:string" />
          <xs:element name="KeyIdentifier" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SendNotificationAdministrativeInformationType">
    <xs:complexContent>
      <xs:extension base="PrescriberServiceAdministrativeInformationType">
        <xs:sequence>
          <!-- NIHII or SSIN executor -->
          <xs:element name="ExecutorIdentifier" type="core:IdentifierType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrescriberServiceAdministrativeInformationType">
    <xs:sequence>
      <!-- SSIN patient -->
      <xs:element name="PatientIdentifier" type="core:IdentifierType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutorServiceAdministrativeInformationType">
    <xs:sequence>
      <!-- NIHII11 prescriber -->
      <xs:element name="PrescriberIdentifier" type="core:IdentifierType" />
      <!-- SSIN patient -->
      <xs:element name="PatientIdentifier" type="core:IdentifierType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>